@model IList<TvChannelOverviewModel>

@using TvProgViewer.Core.Domain.Catalog

@if (Model.Count > 0)
{
    <div class="block block-recently-viewed-tvchannels">
        <div class="title">
            <strong>@T("TvChannels.RecentlyViewedTvChannels")</strong>
        </div>
        <div class="listbox">
            <ul class="list">
                @for (var i = 0; i < Model.Count; i++)
                {
                    var tvchannel = Model[i];
                    var picture = tvchannel.PictureModels.FirstOrDefault();
                    <li @(i == Model.Count - 1 ? @Html.Raw(" class=\"last\"") : null)>
                        @if (picture != null && !string.IsNullOrEmpty(picture.ImageUrl))
                        {
                            <a class="tvchannel-picture" href="@(Url.RouteUrl<TvChannel>(new { SeName = tvchannel.SeName }))" title="@picture.Title">
                                <img alt="@picture.AlternateText" src="@picture.ImageUrl" title="@picture.Title" />
                            </a>
                        }
                        <a class="tvchannel-name" href="@(Url.RouteUrl<TvChannel>(new { SeName = tvchannel.SeName }))">@tvchannel.Name</a>
                    </li>
                }
            </ul>
        </div>
    </div>
}