@model SpecificationAttributeModel

@{
    const string hideInfoBlockAttributeName = "SpecificationAttributePage.HideInfoBlock";
    var user = await workContext.GetCurrentUserAsync();
    var hideInfoBlock = await genericAttributeService.GetAttributeAsync<bool>(user, hideInfoBlockAttributeName);

    const string hideOptionsBlockAttributeName = "SpecificationAttributePage.HideOptionsBlock";
    var hideOptionsBlock = await genericAttributeService.GetAttributeAsync<bool>(user, hideOptionsBlockAttributeName, defaultValue: true);

    const string hideUsedByTvChannelsBlockAttributeName = "SpecificationAttributePage.HideUsedByTvChannelsBlock";
    var hideUsedByTvChannelsBlock = await genericAttributeService.GetAttributeAsync<bool>(user, hideUsedByTvChannelsBlockAttributeName, defaultValue: true);
}

<div asp-validation-summary="All"></div>
<input asp-for="Id" type="hidden" />

<section class="content">
    <div class="container-fluid">
        <div class="form-horizontal">

            <tvprog-cards id="specification-attribute-cards">
                <tvprog-card asp-name="specification-attribute-info" asp-icon="fas fa-info" asp-title="@T("Admin.Catalog.Attributes.SpecificationAttributes.SpecificationAttribute.Info")" asp-hide-block-attribute-name="@hideInfoBlockAttributeName" asp-hide="@hideInfoBlock" asp-advanced="false">@await Html.PartialAsync("_CreateOrUpdateSpecificationAttribute.Info", Model)</tvprog-card>
                <tvprog-card asp-name="specification-attribute-options" asp-icon="fas fa-object-group" asp-title="@T("Admin.Catalog.Attributes.SpecificationAttributes.SpecificationAttribute.Options")" asp-hide-block-attribute-name="@hideOptionsBlockAttributeName" asp-hide="@hideOptionsBlock" asp-advanced="false">@await Html.PartialAsync("_CreateOrUpdateSpecificationAttribute.Options", Model)</tvprog-card>
                @if (Model.Id > 0)
                {
                    <tvprog-card asp-name="specification-attribute-usedbytvChannels" asp-icon="fas fa-check-square" asp-title="@T("Admin.Catalog.Attributes.SpecificationAttributes.SpecificationAttribute.UsedByTvChannels")" asp-hide-block-attribute-name="@hideUsedByTvChannelsBlockAttributeName" asp-hide="@hideUsedByTvChannelsBlock" asp-advanced="true">@await Html.PartialAsync("_CreateOrUpdateSpecificationAttribute.UsedByTvChannels", Model)</tvprog-card>
                }
                @await Component.InvokeAsync(typeof(AdminWidgetViewComponent), new { widgetZone = AdminWidgetZones.SpecificationAttributeDetailsBlock, additionalData = Model })
            </tvprog-cards>
        </div>
    </div>
</section>