@model UserRoleModel

<div asp-validation-summary="ModelOnly"></div>
<input asp-for="Id" type="hidden" />

<script>
    $(document).ready(function() {
        toggleRemoveButton();
    });
    
    function toggleRemoveButton() {
        if ($('#@Html.IdFor(model => model.PurchasedWithTvChannelId)').val() > 0) {
            $('#purchased-with-tvChannel-name-remove').showElement();
        } else {
            $('#purchased-with-tvChannel-name-remove').hideElement();
        }
    }
</script>

<section class="content">
    <div class="container-fluid">
        <div class="form-horizontal">
            <div class="cards-group">
                @await Component.InvokeAsync(typeof(AdminWidgetViewComponent), new { widgetZone = AdminWidgetZones.UserRoleDetailsTop, additionalData = Model })
                <div class="card card-default">
                    <div class="card-body">
                        <div class="form-group row">
                            <div class="col-md-3">
                                <tvprog-label asp-for="Name" />
                            </div>
                            <div class="col-md-9">
                                <tvprog-editor asp-for="Name" asp-required="true" />
                                <span asp-validation-for="Name"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <tvprog-label asp-for="Active" />
                            </div>
                            <div class="col-md-9">
                                <tvprog-editor asp-for="Active" />
                                <span asp-validation-for="Active"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <tvprog-label asp-for="FreeShipping" />
                            </div>
                            <div class="col-md-9">
                                <tvprog-editor asp-for="FreeShipping" />
                                <span asp-validation-for="FreeShipping"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <tvprog-label asp-for="TaxExempt" />
                            </div>
                            <div class="col-md-9">
                                <tvprog-editor asp-for="TaxExempt" />
                                <span asp-validation-for="TaxExempt"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <tvprog-label asp-for="OverrideTaxDisplayType" />
                            </div>
                            <div class="col-md-9">
                                <tvprog-editor asp-for="OverrideTaxDisplayType" />
                                <span asp-validation-for="OverrideTaxDisplayType"></span>
                            </div>
                        </div>
                        <tvprog-nested-setting asp-for="OverrideTaxDisplayType">
                            <div class="form-group row">
                                <div class="col-md-3">
                                    <tvprog-label asp-for="DefaultTaxDisplayTypeId" />
                                </div>
                                <div class="col-md-9">
                                    <tvprog-select asp-for="DefaultTaxDisplayTypeId" asp-items="Model.TaxDisplayTypeValues" />
                                    <span asp-validation-for="DefaultTaxDisplayTypeId"></span>
                                </div>
                            </div>
                        </tvprog-nested-setting>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <tvprog-label asp-for="EnablePasswordLifetime" />
                            </div>
                            <div class="col-md-9">
                                <tvprog-editor asp-for="EnablePasswordLifetime" />
                                <span asp-validation-for="EnablePasswordLifetime"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <tvprog-label asp-for="PurchasedWithTvChannelId" />
                            </div>
                            <div class="col-md-9">
                                <input type="hidden" asp-for="PurchasedWithTvChannelId" />
                                <span id="purchased-with-tvChannel-name">@Model.PurchasedWithTvChannelName</span>
                                <span asp-validation-for="PurchasedWithTvChannelId"></span>
                                <button type="submit" onclick="javascript:OpenWindow('@(Url.Action("AssociateTvChannelToUserRolePopup", "UserRole", new {tvChannelIdInput = Html.IdFor(model => model.PurchasedWithTvChannelId), tvChannelNameInput = "purchased-with-tvChannel-name", btnId = "btnRefreshPurchasedWithTvChannel"}))', 800, 850, true); return false;" class="btn btn-primary">
                                    @T("Admin.Users.UserRoles.Fields.PurchasedWithTvChannel.Choose")
                                </button>
                                <button type="submit" id="purchased-with-tvChannel-name-remove" class="btn btn-danger">
                                    @T("Admin.Users.UserRoles.Fields.PurchasedWithTvChannel.Remove")
                                </button>
                                <button type="submit" id="btnRefreshPurchasedWithTvChannel" style="display: none"></button>

                                <script>
                                $(document).ready(function () {
                                    $('#purchased-with-tvChannel-name-remove').click(function () {
                                        $('#purchased-with-tvChannel-name').text('');
                                        $("#@Html.IdFor(model => model.PurchasedWithTvChannelId)").val(0);
                                        toggleRemoveButton();
                                        //return false to don't reload a page
                                        return false;
                                    });

                                    $('#btnRefreshPurchasedWithTvChannel').click(function () {
                                        toggleRemoveButton();

                                        //return false to don't reload a page
                                        return false;
                                    });
                                });
                                </script>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <tvprog-label asp-for="IsSystemRole" />
                            </div>
                            <div class="col-md-9">
                                <div class="form-text-row">@T(Model.IsSystemRole ? "Admin.Common.Yes" : "Admin.Common.No")</div>
                                <input type="hidden" asp-for="IsSystemRole" />
                                <span asp-validation-for="IsSystemRole"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <tvprog-label asp-for="SystemName" />
                            </div>
                            <div class="col-md-9">
                                <tvprog-editor asp-for="SystemName" />
                                <span asp-validation-for="SystemName"></span>
                            </div>
                        </div>
                    </div>
                </div>
                @await Component.InvokeAsync(typeof(AdminWidgetViewComponent), new { widgetZone = AdminWidgetZones.UserRoleDetailsBottom, additionalData = Model })
            </div>
        </div>
    </div>
</section>