@model CatalogSettingsModel

<div class="card-body">
    <div class="form-group row">
        <div class="col-md-3">
            <tvprog-override-store-checkbox asp-for="RemoveRequiredTvChannels_OverrideForStore" asp-input="RemoveRequiredTvChannels" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <tvprog-label asp-for="RemoveRequiredTvChannels" />
        </div>
        <div class="col-md-9">
            <tvprog-editor asp-for="RemoveRequiredTvChannels" />
            <span asp-validation-for="RemoveRequiredTvChannels"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <tvprog-override-store-checkbox asp-for="ShowBestsellersOnHomepage_OverrideForStore" asp-input="ShowBestsellersOnHomepage" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <tvprog-label asp-for="ShowBestsellersOnHomepage" />
        </div>
        <div class="col-md-9">
            <tvprog-editor asp-for="ShowBestsellersOnHomepage" />
            <span asp-validation-for="ShowBestsellersOnHomepage"></span>
        </div>
    </div>
    <tvprog-nested-setting asp-for="ShowBestsellersOnHomepage">
        <div class="form-group row advanced-setting">
            <div class="col-md-3">
                <tvprog-override-store-checkbox asp-for="NumberOfBestsellersOnHomepage_OverrideForStore" asp-input="NumberOfBestsellersOnHomepage" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                <tvprog-label asp-for="NumberOfBestsellersOnHomepage" />
            </div>
            <div class="col-md-9">
                <tvprog-editor asp-for="NumberOfBestsellersOnHomepage" />
                <span asp-validation-for="NumberOfBestsellersOnHomepage"></span>
            </div>
        </div>
    </tvprog-nested-setting>
    <div class="form-group row">
        <div class="col-md-3">
            <tvprog-override-store-checkbox asp-for="TvChannelsAlsoPurchasedEnabled_OverrideForStore" asp-input="TvChannelsAlsoPurchasedEnabled" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <tvprog-label asp-for="TvChannelsAlsoPurchasedEnabled" />
        </div>
        <div class="col-md-9">
            <tvprog-editor asp-for="TvChannelsAlsoPurchasedEnabled" />
            <span asp-validation-for="TvChannelsAlsoPurchasedEnabled"></span>
        </div>
    </div>
    <tvprog-nested-setting asp-for="TvChannelsAlsoPurchasedEnabled">
        <div class="form-group row advanced-setting">
            <div class="col-md-3">
                <tvprog-override-store-checkbox asp-for="TvChannelsAlsoPurchasedNumber_OverrideForStore" asp-input="TvChannelsAlsoPurchasedNumber" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                <tvprog-label asp-for="TvChannelsAlsoPurchasedNumber" />
            </div>
            <div class="col-md-9">
                <tvprog-editor asp-for="TvChannelsAlsoPurchasedNumber" />
                <span asp-validation-for="TvChannelsAlsoPurchasedNumber"></span>
            </div>
        </div>
    </tvprog-nested-setting>
    <div class="form-group row advanced-setting">
        <div class="col-md-3">
            <tvprog-override-store-checkbox asp-for="RecentlyViewedTvChannelsEnabled_OverrideForStore" asp-input="RecentlyViewedTvChannelsEnabled" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <tvprog-label asp-for="RecentlyViewedTvChannelsEnabled" />
        </div>
        <div class="col-md-9">
            <tvprog-editor asp-for="RecentlyViewedTvChannelsEnabled" />
            <span asp-validation-for="RecentlyViewedTvChannelsEnabled"></span>
        </div>
    </div>
    <tvprog-nested-setting asp-for="RecentlyViewedTvChannelsEnabled">
        <div class="form-group row advanced-setting">
            <div class="col-md-3">
                <tvprog-override-store-checkbox asp-for="RecentlyViewedTvChannelsNumber_OverrideForStore" asp-input="RecentlyViewedTvChannelsNumber" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                <tvprog-label asp-for="RecentlyViewedTvChannelsNumber" />
            </div>
            <div class="col-md-9">
                <tvprog-editor asp-for="RecentlyViewedTvChannelsNumber" />
                <span asp-validation-for="RecentlyViewedTvChannelsNumber"></span>
            </div>
        </div>
    </tvprog-nested-setting>
    <div class="form-group row">
        <div class="col-md-3">
            <tvprog-override-store-checkbox asp-for="NewTvChannelsEnabled_OverrideForStore" asp-input="NewTvChannelsEnabled" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <tvprog-label asp-for="NewTvChannelsEnabled" />
        </div>
        <div class="col-md-9">
            <tvprog-editor asp-for="NewTvChannelsEnabled" />
            <span asp-validation-for="NewTvChannelsEnabled"></span>
        </div>
    </div>
    <tvprog-nested-setting asp-for="NewTvChannelsEnabled" disable-auto-generation="true">
        <div class="form-group row" id="pnlNewTvChannelsAllowUsersToSelectPageSize">
            <div class="col-md-3">
                <tvprog-override-store-checkbox asp-for="NewTvChannelsAllowUsersToSelectPageSize_OverrideForStore" asp-input="NewTvChannelsAllowUsersToSelectPageSize" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                <tvprog-label asp-for="NewTvChannelsAllowUsersToSelectPageSize" />
            </div>
            <div class="col-md-9">
                <tvprog-editor asp-for="NewTvChannelsAllowUsersToSelectPageSize" />
                <span asp-validation-for="NewTvChannelsAllowUsersToSelectPageSize"></span>
            </div>
        </div>
        <tvprog-nested-setting asp-for="NewTvChannelsAllowUsersToSelectPageSize" disable-auto-generation="true">
            <div class="form-group row" id="pnlNewTvChannelsPageSizeOptions">
                <div class="col-md-3">
                    <tvprog-override-store-checkbox asp-for="NewTvChannelsPageSizeOptions_OverrideForStore" asp-input="NewTvChannelsPageSizeOptions" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <tvprog-label asp-for="NewTvChannelsPageSizeOptions" />
                </div>
                <div class="col-md-9">
                    <tvprog-editor asp-for="NewTvChannelsPageSizeOptions" />
                    <span asp-validation-for="NewTvChannelsPageSizeOptions"></span>
                </div>
            </div>
        </tvprog-nested-setting>
    </tvprog-nested-setting>
    <tvprog-nested-setting asp-for="NewTvChannelsEnabled" disable-auto-generation="true">
        <div class="form-group row" id="pnlNewTvChannelsPageTvChannelsPerPage">
            <div class="col-md-3">
                <tvprog-override-store-checkbox asp-for="NewTvChannelsPageSize_OverrideForStore" asp-input="NewTvChannelsPageSize" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                <tvprog-label asp-for="NewTvChannelsPageSize" />
            </div>
            <div class="col-md-9">
                <tvprog-editor asp-for="NewTvChannelsPageSize" />
                <span asp-validation-for="NewTvChannelsPageSize"></span>
            </div>
        </div>
    </tvprog-nested-setting>
    <div class="form-group row">
        <div class="col-md-3">
            <tvprog-override-store-checkbox asp-for="DisplayDatePreOrderAvailability_OverrideForStore" asp-input="DisplayDatePreOrderAvailability" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <tvprog-label asp-for="DisplayDatePreOrderAvailability" />
        </div>
        <div class="col-md-9">
            <tvprog-editor asp-for="DisplayDatePreOrderAvailability" />
            <span asp-validation-for="DisplayDatePreOrderAvailability"></span>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#@Html.IdFor(model => model.NewTvChannelsEnabled)").click(toggleNewTvChannelsEnabled);
        toggleNewTvChannelsEnabled();
        $("#@Html.IdFor(model => model.NewTvChannelsAllowUsersToSelectPageSize)").click(toggleNewTvChannelsPageSize);
        toggleNewTvChannelsPageSize();
    });

    function toggleNewTvChannelsEnabled() {
        if ($('#@Html.IdFor(model => model.NewTvChannelsEnabled)').is(':checked')) {
            $('#pnlNewTvChannelsAllowUsersToSelectPageSize').showElement();
            toggleNewTvChannelsPageSize();
        } else {
            $('#pnlNewTvChannelsAllowUsersToSelectPageSize').hideElement();
            $('#pnlNewTvChannelsPageSizeOptions').hideElement();
            $('#pnlNewTvChannelsPageTvChannelsPerPage').hideElement();
        }
    }

    function toggleNewTvChannelsPageSize() {
        if ($('#@Html.IdFor(model => model.NewTvChannelsAllowUsersToSelectPageSize)').is(':checked')) {
            $('#pnlNewTvChannelsPageTvChannelsPerPage').hideElement();
            if ($('#@Html.IdFor(model => model.NewTvChannelsEnabled)').is(':checked'))
                $('#pnlNewTvChannelsPageSizeOptions').showElement();
        } else {
            $('#pnlNewTvChannelsPageSizeOptions').hideElement();
            if ($('#@Html.IdFor(model => model.NewTvChannelsEnabled)').is(':checked'))
                $('#pnlNewTvChannelsPageTvChannelsPerPage').showElement();
        }
    }
</script>