@model CatalogSettingsModel

<div class="card-body">
    <div class="form-group row">
        <div class="col-md-3">
            <tvprog-override-store-checkbox asp-for="ExportImportTvChannelAttributes_OverrideForStore" asp-input="ExportImportTvChannelAttributes" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <tvprog-label asp-for="ExportImportTvChannelAttributes" />
        </div>
        <div class="col-md-9">
            <tvprog-editor asp-for="ExportImportTvChannelAttributes" />
            <span asp-validation-for="ExportImportTvChannelAttributes"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <tvprog-override-store-checkbox asp-for="ExportImportTvChannelSpecificationAttributes_OverrideForStore" asp-input="ExportImportTvChannelSpecificationAttributes" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <tvprog-label asp-for="ExportImportTvChannelSpecificationAttributes" />
        </div>
        <div class="col-md-9">
            <tvprog-editor asp-for="ExportImportTvChannelSpecificationAttributes" />
            <span asp-validation-for="ExportImportTvChannelSpecificationAttributes"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <tvprog-override-store-checkbox asp-for="ExportImportTvChannelCategoryBreadcrumb_OverrideForStore" asp-input="ExportImportTvChannelCategoryBreadcrumb" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <tvprog-label asp-for="ExportImportTvChannelCategoryBreadcrumb" />
        </div>
        <div class="col-md-9">
            <tvprog-editor asp-for="ExportImportTvChannelCategoryBreadcrumb" />
            <span asp-validation-for="ExportImportTvChannelCategoryBreadcrumb"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <tvprog-override-store-checkbox asp-for="ExportImportCategoriesUsingCategoryName_OverrideForStore" asp-input="ExportImportCategoriesUsingCategoryName" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <tvprog-label asp-for="ExportImportCategoriesUsingCategoryName" />
        </div>
        <div class="col-md-9">
            <tvprog-editor asp-for="ExportImportCategoriesUsingCategoryName" />
            <span asp-validation-for="ExportImportCategoriesUsingCategoryName"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <tvprog-override-store-checkbox asp-for="ExportImportAllowDownloadImages_OverrideForStore" asp-input="ExportImportAllowDownloadImages" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <tvprog-label asp-for="ExportImportAllowDownloadImages" />
        </div>
        <div class="col-md-9">
            <tvprog-editor asp-for="ExportImportAllowDownloadImages" />
            <span asp-validation-for="ExportImportAllowDownloadImages"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <tvprog-override-store-checkbox asp-for="ExportImportSplitTvChannelsFile_OverrideForStore" asp-input="ExportImportSplitTvChannelsFile" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <tvprog-label asp-for="ExportImportSplitTvChannelsFile" />
        </div>
        <div class="col-md-9">
            <tvprog-editor asp-for="ExportImportSplitTvChannelsFile" />
            <span asp-validation-for="ExportImportSplitTvChannelsFile"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <tvprog-override-store-checkbox asp-for="ExportImportRelatedEntitiesByName_OverrideForStore" asp-input="ExportImportRelatedEntitiesByName" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <tvprog-label asp-for="ExportImportRelatedEntitiesByName" />
        </div>
        <div class="col-md-9">
            <tvprog-editor asp-for="ExportImportRelatedEntitiesByName" />
            <span asp-validation-for="ExportImportRelatedEntitiesByName"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <tvprog-override-store-checkbox asp-for="ExportImportTvChannelUseLimitedToStores_OverrideForStore" asp-input="ExportImportTvChannelUseLimitedToStores" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <tvprog-label asp-for="ExportImportTvChannelUseLimitedToStores" />
        </div>
        <div class="col-md-9">
            <tvprog-editor asp-for="ExportImportTvChannelUseLimitedToStores" />
            <span asp-validation-for="ExportImportTvChannelUseLimitedToStores"></span>
        </div>
    </div>
</div>