@model CatalogSettingsModel

<div class="card-body">
    <div class="form-group row">
        <div class="col-md-3">
            <tvprog-override-store-checkbox asp-for="DisplayTaxShippingInfoFooter_OverrideForStore" asp-input="DisplayTaxShippingInfoFooter" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <tvprog-label asp-for="DisplayTaxShippingInfoFooter" />
        </div>
        <div class="col-md-9">
            <tvprog-editor asp-for="DisplayTaxShippingInfoFooter" />
            <span asp-validation-for="DisplayTaxShippingInfoFooter"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <tvprog-override-store-checkbox asp-for="DisplayTaxShippingInfoTvChannelDetailsPage_OverrideForStore" asp-input="DisplayTaxShippingInfoTvChannelDetailsPage" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <tvprog-label asp-for="DisplayTaxShippingInfoTvChannelDetailsPage" />
        </div>
        <div class="col-md-9">
            <tvprog-editor asp-for="DisplayTaxShippingInfoTvChannelDetailsPage" />
            <span asp-validation-for="DisplayTaxShippingInfoTvChannelDetailsPage"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <tvprog-override-store-checkbox asp-for="DisplayTaxShippingInfoTvChannelBoxes_OverrideForStore" asp-input="DisplayTaxShippingInfoTvChannelBoxes" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <tvprog-label asp-for="DisplayTaxShippingInfoTvChannelBoxes" />
        </div>
        <div class="col-md-9">
            <tvprog-editor asp-for="DisplayTaxShippingInfoTvChannelBoxes" />
            <span asp-validation-for="DisplayTaxShippingInfoTvChannelBoxes"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <tvprog-override-store-checkbox asp-for="DisplayTaxShippingInfoShoppingCart_OverrideForStore" asp-input="DisplayTaxShippingInfoShoppingCart" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <tvprog-label asp-for="DisplayTaxShippingInfoShoppingCart" />
        </div>
        <div class="col-md-9">
            <tvprog-editor asp-for="DisplayTaxShippingInfoShoppingCart" />
            <span asp-validation-for="DisplayTaxShippingInfoShoppingCart"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <tvprog-override-store-checkbox asp-for="DisplayTaxShippingInfoWishlist_OverrideForStore" asp-input="DisplayTaxShippingInfoWishlist" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <tvprog-label asp-for="DisplayTaxShippingInfoWishlist" />
        </div>
        <div class="col-md-9">
            <tvprog-editor asp-for="DisplayTaxShippingInfoWishlist" />
            <span asp-validation-for="DisplayTaxShippingInfoWishlist"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <tvprog-override-store-checkbox asp-for="DisplayTaxShippingInfoOrderDetailsPage_OverrideForStore" asp-input="DisplayTaxShippingInfoOrderDetailsPage" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <tvprog-label asp-for="DisplayTaxShippingInfoOrderDetailsPage" />
        </div>
        <div class="col-md-9">
            <tvprog-editor asp-for="DisplayTaxShippingInfoOrderDetailsPage" />
            <span asp-validation-for="DisplayTaxShippingInfoOrderDetailsPage"></span>
        </div>
    </div>
</div>