@model CatalogSettingsModel

<div class="card-body">
    <div class="form-group row">
        <div class="col-md-3">
            <tvprog-override-store-checkbox asp-for="AllowTvChannelViewModeChanging_OverrideForStore" asp-input="AllowTvChannelViewModeChanging" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <tvprog-label asp-for="AllowTvChannelViewModeChanging" />
        </div>
        <div class="col-md-9">
            <tvprog-editor asp-for="AllowTvChannelViewModeChanging" />
            <span asp-validation-for="AllowTvChannelViewModeChanging"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <tvprog-override-store-checkbox asp-for="DefaultViewMode_OverrideForStore" asp-input="DefaultViewMode" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <tvprog-label asp-for="DefaultViewMode" />
        </div>
        <div class="col-md-9">
            <tvprog-select asp-for="DefaultViewMode" asp-items="Model.AvailableViewModes" />
            <span asp-validation-for="DefaultViewMode"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <tvprog-override-store-checkbox asp-for="ShowTvChannelsFromSubcategories_OverrideForStore" asp-input="ShowTvChannelsFromSubcategories" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <tvprog-label asp-for="ShowTvChannelsFromSubcategories" />
        </div>
        <div class="col-md-9">
            <tvprog-editor asp-for="ShowTvChannelsFromSubcategories" />
            <span asp-validation-for="ShowTvChannelsFromSubcategories"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <tvprog-override-store-checkbox asp-for="ShowCategoryTvChannelNumber_OverrideForStore" asp-input="ShowCategoryTvChannelNumber" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <tvprog-label asp-for="ShowCategoryTvChannelNumber" />
        </div>
        <div class="col-md-9">
            <tvprog-editor asp-for="ShowCategoryTvChannelNumber" />
            <span asp-validation-for="ShowCategoryTvChannelNumber"></span>
        </div>
    </div>
    <tvprog-nested-setting asp-for="ShowCategoryTvChannelNumber">
        <div class="form-group row">
            <div class="col-md-3">
                <tvprog-override-store-checkbox asp-for="ShowCategoryTvChannelNumberIncludingSubcategories_OverrideForStore" asp-input="ShowCategoryTvChannelNumberIncludingSubcategories" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                <tvprog-label asp-for="ShowCategoryTvChannelNumberIncludingSubcategories" />
            </div>
            <div class="col-md-9">
                <tvprog-editor asp-for="ShowCategoryTvChannelNumberIncludingSubcategories" />
                <span asp-validation-for="ShowCategoryTvChannelNumberIncludingSubcategories"></span>
            </div>
        </div>
    </tvprog-nested-setting>
    <div class="form-group row">
        <div class="col-md-3">
            <tvprog-override-store-checkbox asp-for="CategoryBreadcrumbEnabled_OverrideForStore" asp-input="CategoryBreadcrumbEnabled" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <tvprog-label asp-for="CategoryBreadcrumbEnabled" />
        </div>
        <div class="col-md-9">
            <tvprog-editor asp-for="CategoryBreadcrumbEnabled" />
            <span asp-validation-for="CategoryBreadcrumbEnabled"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <tvprog-override-store-checkbox asp-for="ManufacturersBlockItemsToDisplay_OverrideForStore" asp-input="ManufacturersBlockItemsToDisplay" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <tvprog-label asp-for="ManufacturersBlockItemsToDisplay" />
        </div>
        <div class="col-md-9">
            <tvprog-editor asp-for="ManufacturersBlockItemsToDisplay" />
            <span asp-validation-for="ManufacturersBlockItemsToDisplay"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <tvprog-override-store-checkbox asp-for="UseAjaxCatalogTvChannelsLoading_OverrideForStore" asp-input="UseAjaxCatalogTvChannelsLoading" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <tvprog-label asp-for="UseAjaxCatalogTvChannelsLoading" />
        </div>
        <div class="col-md-9">
            <tvprog-editor asp-for="UseAjaxCatalogTvChannelsLoading" />
            <span asp-validation-for="UseAjaxCatalogTvChannelsLoading"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <tvprog-override-store-checkbox asp-for="EnableManufacturerFiltering_OverrideForStore" asp-input="EnableManufacturerFiltering" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <tvprog-label asp-for="EnableManufacturerFiltering" />
        </div>
        <div class="col-md-9">
            <tvprog-editor asp-for="EnableManufacturerFiltering" />
            <span asp-validation-for="EnableManufacturerFiltering"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <tvprog-override-store-checkbox asp-for="EnablePriceRangeFiltering_OverrideForStore" asp-input="EnablePriceRangeFiltering" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <tvprog-label asp-for="EnablePriceRangeFiltering" />
        </div>
        <div class="col-md-9">
            <tvprog-editor asp-for="EnablePriceRangeFiltering" />
            <span asp-validation-for="EnablePriceRangeFiltering"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <tvprog-override-store-checkbox asp-for="EnableSpecificationAttributeFiltering_OverrideForStore" asp-input="EnableSpecificationAttributeFiltering" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <tvprog-label asp-for="EnableSpecificationAttributeFiltering" />
        </div>
        <div class="col-md-9">
            <tvprog-editor asp-for="EnableSpecificationAttributeFiltering" />
            <span asp-validation-for="EnableSpecificationAttributeFiltering"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <tvprog-override-store-checkbox asp-for="DisplayAllPicturesOnCatalogPages_OverrideForStore" asp-input="DisplayAllPicturesOnCatalogPages" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <tvprog-label asp-for="DisplayAllPicturesOnCatalogPages" />
        </div>
        <div class="col-md-9">
            <tvprog-editor asp-for="DisplayAllPicturesOnCatalogPages" />
            <span asp-validation-for="DisplayAllPicturesOnCatalogPages"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <tvprog-override-store-checkbox asp-for="DisplayFromPrices_OverrideForStore" asp-input="DisplayFromPrices" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <tvprog-label asp-for="DisplayFromPrices" />
        </div>
        <div class="col-md-9">
            <tvprog-editor asp-for="DisplayFromPrices" />
            <span asp-validation-for="DisplayFromPrices"></span>
        </div>
    </div>
</div>