@model CatalogSettingsModel

<div class="card-body">
    <div class="form-group row">
        <div class="col-md-3">
            <tvprog-override-store-checkbox asp-for="NumberOfTvChannelTags_OverrideForStore" asp-input="NumberOfTvChannelTags" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <tvprog-label asp-for="NumberOfTvChannelTags" />
        </div>
        <div class="col-md-9">
            <tvprog-editor asp-for="NumberOfTvChannelTags" />
            <span asp-validation-for="NumberOfTvChannelTags"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <tvprog-override-store-checkbox asp-for="TvChannelsByTagAllowUsersToSelectPageSize_OverrideForStore" asp-input="TvChannelsByTagAllowUsersToSelectPageSize" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <tvprog-label asp-for="TvChannelsByTagAllowUsersToSelectPageSize" />
        </div>
        <div class="col-md-9">
            <tvprog-editor asp-for="TvChannelsByTagAllowUsersToSelectPageSize" />
            <span asp-validation-for="TvChannelsByTagAllowUsersToSelectPageSize"></span>
        </div>
    </div>
    <tvprog-nested-setting asp-for="TvChannelsByTagAllowUsersToSelectPageSize" disable-auto-generation="true">
        <div class="form-group row" id="pnlTvChannelsByTagPageSize">
            <div class="col-md-3">
                <tvprog-override-store-checkbox asp-for="TvChannelsByTagPageSize_OverrideForStore" asp-input="TvChannelsByTagPageSize" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                <tvprog-label asp-for="TvChannelsByTagPageSize" />
            </div>
            <div class="col-md-9">
                <tvprog-editor asp-for="TvChannelsByTagPageSize" />
                <span asp-validation-for="TvChannelsByTagPageSize"></span>
            </div>
        </div>
        <div class="form-group row" id="pnlTvChannelsByTagPageSizeOptions">
            <div class="col-md-3">
                <tvprog-override-store-checkbox asp-for="TvChannelsByTagPageSizeOptions_OverrideForStore" asp-input="TvChannelsByTagPageSizeOptions" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                <tvprog-label asp-for="TvChannelsByTagPageSizeOptions" />
            </div>
            <div class="col-md-9">
                <tvprog-editor asp-for="TvChannelsByTagPageSizeOptions" />
                <span asp-validation-for="TvChannelsByTagPageSizeOptions"></span>
            </div>
        </div>
    </tvprog-nested-setting>
    <div class="form-group row">
        <div class="col-md-3">
            <tvprog-override-store-checkbox asp-for="TvChannelsByTagPriceRangeFiltering_OverrideForStore" asp-input="TvChannelsByTagPriceRangeFiltering" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <tvprog-label asp-for="TvChannelsByTagPriceRangeFiltering" />
        </div>
        <div class="col-md-9">
            <tvprog-editor asp-for="TvChannelsByTagPriceRangeFiltering" />
            <span asp-validation-for="TvChannelsByTagPriceRangeFiltering"></span>
        </div>
    </div>
    <tvprog-nested-setting asp-for="TvChannelsByTagPriceRangeFiltering">
        <div class="form-group row advanced-setting">
            <div class="col-md-3">
                <tvprog-override-store-checkbox asp-for="TvChannelsByTagManuallyPriceRange_OverrideForStore" asp-input="TvChannelsByTagManuallyPriceRange" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                <tvprog-label asp-for="TvChannelsByTagManuallyPriceRange" />
            </div>
            <div class="col-md-9">
                <tvprog-editor asp-for="TvChannelsByTagManuallyPriceRange" />
                <span asp-validation-for="TvChannelsByTagManuallyPriceRange"></span>
            </div>
        </div>
        <tvprog-nested-setting asp-for="TvChannelsByTagManuallyPriceRange">
            <div class="form-group row advanced-setting">
                <div class="col-md-3">
                    <tvprog-override-store-checkbox asp-for="TvChannelsByTagPriceFrom_OverrideForStore" asp-input="TvChannelsByTagPriceFrom" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <tvprog-label asp-for="TvChannelsByTagPriceFrom" />
                </div>
                <div class="col-md-9">
                    <tvprog-editor asp-for="TvChannelsByTagPriceFrom" asp-postfix="@Model.PrimaryStoreCurrencyCode" />
                    <span asp-validation-for="TvChannelsByTagPriceFrom"></span>
                </div>
            </div>
            <div class="form-group row advanced-setting">
                <div class="col-md-3">
                    <tvprog-override-store-checkbox asp-for="TvChannelsByTagPriceTo_OverrideForStore" asp-input="TvChannelsByTagPriceTo" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <tvprog-label asp-for="TvChannelsByTagPriceTo" />
                </div>
                <div class="col-md-9">
                    <tvprog-editor asp-for="TvChannelsByTagPriceTo" asp-postfix="@Model.PrimaryStoreCurrencyCode" />
                    <span asp-validation-for="TvChannelsByTagPriceTo"></span>
                </div>
            </div>
        </tvprog-nested-setting>
    </tvprog-nested-setting>
</div>

<script>
    $(document).ready(function () {
        $("#@Html.IdFor(model => model.TvChannelsByTagAllowUsersToSelectPageSize)").click(toggleTvChannelsByTagPageSize);

        toggleTvChannelsByTagPageSize();
    });

    function toggleTvChannelsByTagPageSize() {
        if ($('#@Html.IdFor(model => model.TvChannelsByTagAllowUsersToSelectPageSize)').is(':checked')) {
            $('#pnlTvChannelsByTagPageSize').hideElement();
            $('#pnlTvChannelsByTagPageSizeOptions').showElement();
        } else {
            $('#pnlTvChannelsByTagPageSize').showElement();
            $('#pnlTvChannelsByTagPageSizeOptions').hideElement();
        }
    }
</script>