@model CatalogSettingsModel

<div class="card-body">
    <div class="form-group row">
        <div class="col-md-3">
            <tvprog-override-store-checkbox asp-for="TvChannelSearchEnabled_OverrideForStore" asp-input="TvChannelSearchEnabled" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <tvprog-label asp-for="TvChannelSearchEnabled" />
        </div>
        <div class="col-md-9">
            <tvprog-editor asp-for="TvChannelSearchEnabled" />
            <span asp-validation-for="TvChannelSearchEnabled"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <tvprog-override-store-checkbox asp-for="TvChannelSearchAutoCompleteEnabled_OverrideForStore" asp-input="TvChannelSearchAutoCompleteEnabled" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <tvprog-label asp-for="TvChannelSearchAutoCompleteEnabled" />
        </div>
        <div class="col-md-9">
            <tvprog-editor asp-for="TvChannelSearchAutoCompleteEnabled" />
            <span asp-validation-for="TvChannelSearchAutoCompleteEnabled"></span>
        </div>
    </div>
    <tvprog-nested-setting asp-for="TvChannelSearchAutoCompleteEnabled">
        <div class="form-group row advanced-setting">
            <div class="col-md-3">
                <tvprog-override-store-checkbox asp-for="TvChannelSearchAutoCompleteNumberOfTvChannels_OverrideForStore" asp-input="TvChannelSearchAutoCompleteNumberOfTvChannels" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                <tvprog-label asp-for="TvChannelSearchAutoCompleteNumberOfTvChannels" />
            </div>
            <div class="col-md-9">
                <tvprog-editor asp-for="TvChannelSearchAutoCompleteNumberOfTvChannels" />
                <span asp-validation-for="TvChannelSearchAutoCompleteNumberOfTvChannels"></span>
            </div>
        </div>
        <div class="form-group row advanced-setting">
            <div class="col-md-3">
                <tvprog-override-store-checkbox asp-for="ShowLinkToAllResultInSearchAutoComplete_OverrideForStore" asp-input="ShowLinkToAllResultInSearchAutoComplete" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                <tvprog-label asp-for="ShowLinkToAllResultInSearchAutoComplete" />
            </div>
            <div class="col-md-9">
                <tvprog-editor asp-for="ShowLinkToAllResultInSearchAutoComplete" />
                <span asp-validation-for="ShowLinkToAllResultInSearchAutoComplete"></span>
            </div>
        </div>
        <div class="form-group row advanced-setting">
            <div class="col-md-3">
                <tvprog-override-store-checkbox asp-for="ShowTvChannelImagesInSearchAutoComplete_OverrideForStore" asp-input="ShowTvChannelImagesInSearchAutoComplete" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                <tvprog-label asp-for="ShowTvChannelImagesInSearchAutoComplete" />
            </div>
            <div class="col-md-9">
                <tvprog-editor asp-for="ShowTvChannelImagesInSearchAutoComplete" />
                <span asp-validation-for="ShowTvChannelImagesInSearchAutoComplete"></span>
            </div>
        </div>
    </tvprog-nested-setting>
    <div class="form-group row advanced-setting">
        <div class="col-md-3">
            <tvprog-override-store-checkbox asp-for="TvChannelSearchTermMinimumLength_OverrideForStore" asp-input="TvChannelSearchTermMinimumLength" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <tvprog-label asp-for="TvChannelSearchTermMinimumLength" />
        </div>
        <div class="col-md-9">
            <tvprog-editor asp-for="TvChannelSearchTermMinimumLength" />
            <span asp-validation-for="TvChannelSearchTermMinimumLength"></span>
        </div>
    </div>
    <div class="form-group row advanced-setting">
        <div class="col-md-3">
            <tvprog-override-store-checkbox asp-for="SearchPageAllowUsersToSelectPageSize_OverrideForStore" asp-input="SearchPageAllowUsersToSelectPageSize" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <tvprog-label asp-for="SearchPageAllowUsersToSelectPageSize" />
        </div>
        <div class="col-md-9">
            <tvprog-editor asp-for="SearchPageAllowUsersToSelectPageSize" />
            <span asp-validation-for="SearchPageAllowUsersToSelectPageSize"></span>
        </div>
    </div>
    <tvprog-nested-setting asp-for="SearchPageAllowUsersToSelectPageSize" disable-auto-generation="true">
        <div class="form-group row advanced-setting" id="pnlSearchPageTvChannelsPerPage">
            <div class="col-md-3">
                <tvprog-override-store-checkbox asp-for="SearchPageTvChannelsPerPage_OverrideForStore" asp-input="SearchPageTvChannelsPerPage" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                <tvprog-label asp-for="SearchPageTvChannelsPerPage" />
            </div>
            <div class="col-md-9">
                <tvprog-editor asp-for="SearchPageTvChannelsPerPage" />
                <span asp-validation-for="SearchPageTvChannelsPerPage"></span>
            </div>
        </div>
        <div class="form-group row advanced-setting" id="pnlSearchPagePageSizeOptions">
            <div class="col-md-3">
                <tvprog-override-store-checkbox asp-for="SearchPagePageSizeOptions_OverrideForStore" asp-input="SearchPagePageSizeOptions" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                <tvprog-label asp-for="SearchPagePageSizeOptions" />
            </div>
            <div class="col-md-9">
                <tvprog-editor asp-for="SearchPagePageSizeOptions" />
                <span asp-validation-for="SearchPagePageSizeOptions"></span>
            </div>
        </div>
    </tvprog-nested-setting>
    <div class="form-group row advanced-setting">
        <div class="col-md-3">
            <tvprog-override-store-checkbox asp-for="SearchPagePriceRangeFiltering_OverrideForStore" asp-input="SearchPagePriceRangeFiltering" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <tvprog-label asp-for="SearchPagePriceRangeFiltering" />
        </div>
        <div class="col-md-9">
            <tvprog-editor asp-for="SearchPagePriceRangeFiltering" />
            <span asp-validation-for="SearchPagePriceRangeFiltering"></span>
        </div>
    </div>
    <tvprog-nested-setting asp-for="SearchPagePriceRangeFiltering">
        <div class="form-group row advanced-setting">
            <div class="col-md-3">
                <tvprog-override-store-checkbox asp-for="SearchPageManuallyPriceRange_OverrideForStore" asp-input="SearchPageManuallyPriceRange" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                <tvprog-label asp-for="SearchPageManuallyPriceRange" />
            </div>
            <div class="col-md-9">
                <tvprog-editor asp-for="SearchPageManuallyPriceRange" />
                <span asp-validation-for="SearchPageManuallyPriceRange"></span>
            </div>
        </div>
        <tvprog-nested-setting asp-for="SearchPageManuallyPriceRange">
            <div class="form-group row advanced-setting">
                <div class="col-md-3">
                    <tvprog-override-store-checkbox asp-for="SearchPagePriceFrom_OverrideForStore" asp-input="SearchPagePriceFrom" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <tvprog-label asp-for="SearchPagePriceFrom" />
                </div>
                <div class="col-md-9">
                    <tvprog-editor asp-for="SearchPagePriceFrom" asp-postfix="@Model.PrimaryStoreCurrencyCode" />
                    <span asp-validation-for="SearchPagePriceFrom"></span>
                </div>
            </div>
            <div class="form-group row advanced-setting">
                <div class="col-md-3">
                    <tvprog-override-store-checkbox asp-for="SearchPagePriceTo_OverrideForStore" asp-input="SearchPagePriceTo" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <tvprog-label asp-for="SearchPagePriceTo" />
                </div>
                <div class="col-md-9">
                    <tvprog-editor asp-for="SearchPagePriceTo" asp-postfix="@Model.PrimaryStoreCurrencyCode" />
                    <span asp-validation-for="SearchPagePriceTo"></span>
                </div>
            </div>
        </tvprog-nested-setting>
    </tvprog-nested-setting>
    <div class="form-group row">
        <div class="col-md-3">
            <tvprog-override-store-checkbox asp-for="AllowUsersToSearchWithManufacturerName_OverrideForStore" asp-input="AllowUsersToSearchWithManufacturerName" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <tvprog-label asp-for="AllowUsersToSearchWithManufacturerName" />
        </div>
        <div class="col-md-9">
            <tvprog-editor asp-for="AllowUsersToSearchWithManufacturerName" />
            <span asp-validation-for="AllowUsersToSearchWithManufacturerName"></span>
        </div>
    </div>
     <div class="form-group row">
        <div class="col-md-3">
            <tvprog-override-store-checkbox asp-for="AllowUsersToSearchWithCategoryName_OverrideForStore" asp-input="AllowUsersToSearchWithCategoryName" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <tvprog-label asp-for="AllowUsersToSearchWithCategoryName" />
        </div>
        <div class="col-md-9">
            <tvprog-editor asp-for="AllowUsersToSearchWithCategoryName" />
            <span asp-validation-for="AllowUsersToSearchWithCategoryName"></span>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#@Html.IdFor(model => model.SearchPageAllowUsersToSelectPageSize)").click(toggleSearchPagePageSize);

        toggleSearchPagePageSize();
    });

    function toggleSearchPagePageSize() {
        if ($('#@Html.IdFor(model => model.SearchPageAllowUsersToSelectPageSize)').is(':checked')) {
            $('#pnlSearchPageTvChannelsPerPage').hideElement();
            $('#pnlSearchPagePageSizeOptions').showElement();
        } else {
            $('#pnlSearchPageTvChannelsPerPage').showElement();
            $('#pnlSearchPagePageSizeOptions').hideElement();
        }
    }

</script>