@model GeneralCommonSettingsModel


<div class="card-body">
    <div class="form-group row">
        <div class="col-md-3">
            <tvprog-override-store-checkbox asp-for="DisplayDefaultFooterItemSettings.DisplaySitemapFooterItem_OverrideForStore" asp-input="DisplayDefaultFooterItemSettings.DisplaySitemapFooterItem" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <tvprog-label asp-for="DisplayDefaultFooterItemSettings.DisplaySitemapFooterItem" />
        </div>
        <div class="col-md-9">
            <tvprog-editor asp-for="DisplayDefaultFooterItemSettings.DisplaySitemapFooterItem" />
            <span asp-validation-for="DisplayDefaultFooterItemSettings.DisplaySitemapFooterItem"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <tvprog-override-store-checkbox asp-for="DisplayDefaultFooterItemSettings.DisplayContactUsFooterItem_OverrideForStore" asp-input="DisplayDefaultFooterItemSettings.DisplayContactUsFooterItem" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <tvprog-label asp-for="DisplayDefaultFooterItemSettings.DisplayContactUsFooterItem" />
        </div>
        <div class="col-md-9">
            <tvprog-editor asp-for="DisplayDefaultFooterItemSettings.DisplayContactUsFooterItem" />
            <span asp-validation-for="DisplayDefaultFooterItemSettings.DisplayContactUsFooterItem"></span>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-3">
            <tvprog-override-store-checkbox asp-for="DisplayDefaultFooterItemSettings.DisplayTvChannelSearchFooterItem_OverrideForStore" asp-input="DisplayDefaultFooterItemSettings.DisplayTvChannelSearchFooterItem" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <tvprog-label asp-for="DisplayDefaultFooterItemSettings.DisplayTvChannelSearchFooterItem" />
        </div>
        <div class="col-md-9">
            <tvprog-editor asp-for="DisplayDefaultFooterItemSettings.DisplayTvChannelSearchFooterItem" />
            <span asp-validation-for="DisplayDefaultFooterItemSettings.DisplayTvChannelSearchFooterItem"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <tvprog-override-store-checkbox asp-for="DisplayDefaultFooterItemSettings.DisplayNewsFooterItem_OverrideForStore" asp-input="DisplayDefaultFooterItemSettings.DisplayNewsFooterItem" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <tvprog-label asp-for="DisplayDefaultFooterItemSettings.DisplayNewsFooterItem" />
        </div>
        <div class="col-md-9">
            <tvprog-editor asp-for="DisplayDefaultFooterItemSettings.DisplayNewsFooterItem" />
            <span asp-validation-for="DisplayDefaultFooterItemSettings.DisplayNewsFooterItem"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <tvprog-override-store-checkbox asp-for="DisplayDefaultFooterItemSettings.DisplayBlogFooterItem_OverrideForStore" asp-input="DisplayDefaultFooterItemSettings.DisplayBlogFooterItem" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <tvprog-label asp-for="DisplayDefaultFooterItemSettings.DisplayBlogFooterItem" />
        </div>
        <div class="col-md-9">
            <tvprog-editor asp-for="DisplayDefaultFooterItemSettings.DisplayBlogFooterItem" />
            <span asp-validation-for="DisplayDefaultFooterItemSettings.DisplayBlogFooterItem"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <tvprog-override-store-checkbox asp-for="DisplayDefaultFooterItemSettings.DisplayForumsFooterItem_OverrideForStore" asp-input="DisplayDefaultFooterItemSettings.DisplayForumsFooterItem" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <tvprog-label asp-for="DisplayDefaultFooterItemSettings.DisplayForumsFooterItem" />
        </div>
        <div class="col-md-9">
            <tvprog-editor asp-for="DisplayDefaultFooterItemSettings.DisplayForumsFooterItem" />
            <span asp-validation-for="DisplayDefaultFooterItemSettings.DisplayForumsFooterItem"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <tvprog-override-store-checkbox asp-for="DisplayDefaultFooterItemSettings.DisplayRecentlyViewedTvChannelsFooterItem_OverrideForStore" asp-input="DisplayDefaultFooterItemSettings.DisplayRecentlyViewedTvChannelsFooterItem" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <tvprog-label asp-for="DisplayDefaultFooterItemSettings.DisplayRecentlyViewedTvChannelsFooterItem" />
        </div>
        <div class="col-md-9">
            <tvprog-editor asp-for="DisplayDefaultFooterItemSettings.DisplayRecentlyViewedTvChannelsFooterItem" />
            <span asp-validation-for="DisplayDefaultFooterItemSettings.DisplayRecentlyViewedTvChannelsFooterItem"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <tvprog-override-store-checkbox asp-for="DisplayDefaultFooterItemSettings.DisplayCompareTvChannelsFooterItem_OverrideForStore" asp-input="DisplayDefaultFooterItemSettings.DisplayCompareTvChannelsFooterItem" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <tvprog-label asp-for="DisplayDefaultFooterItemSettings.DisplayCompareTvChannelsFooterItem" />
        </div>
        <div class="col-md-9">
            <tvprog-editor asp-for="DisplayDefaultFooterItemSettings.DisplayCompareTvChannelsFooterItem" />
            <span asp-validation-for="DisplayDefaultFooterItemSettings.DisplayCompareTvChannelsFooterItem"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <tvprog-override-store-checkbox asp-for="DisplayDefaultFooterItemSettings.DisplayNewTvChannelsFooterItem_OverrideForStore" asp-input="DisplayDefaultFooterItemSettings.DisplayNewTvChannelsFooterItem" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <tvprog-label asp-for="DisplayDefaultFooterItemSettings.DisplayNewTvChannelsFooterItem" />
        </div>
        <div class="col-md-9">
            <tvprog-editor asp-for="DisplayDefaultFooterItemSettings.DisplayNewTvChannelsFooterItem" />
            <span asp-validation-for="DisplayDefaultFooterItemSettings.DisplayNewTvChannelsFooterItem"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <tvprog-override-store-checkbox asp-for="DisplayDefaultFooterItemSettings.DisplayUserInfoFooterItem_OverrideForStore" asp-input="DisplayDefaultFooterItemSettings.DisplayUserInfoFooterItem" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <tvprog-label asp-for="DisplayDefaultFooterItemSettings.DisplayUserInfoFooterItem" />
        </div>
        <div class="col-md-9">
            <tvprog-editor asp-for="DisplayDefaultFooterItemSettings.DisplayUserInfoFooterItem" />
            <span asp-validation-for="DisplayDefaultFooterItemSettings.DisplayUserInfoFooterItem"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <tvprog-override-store-checkbox asp-for="DisplayDefaultFooterItemSettings.DisplayUserOrdersFooterItem_OverrideForStore" asp-input="DisplayDefaultFooterItemSettings.DisplayUserOrdersFooterItem" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <tvprog-label asp-for="DisplayDefaultFooterItemSettings.DisplayUserOrdersFooterItem" />
        </div>
        <div class="col-md-9">
            <tvprog-editor asp-for="DisplayDefaultFooterItemSettings.DisplayUserOrdersFooterItem" />
            <span asp-validation-for="DisplayDefaultFooterItemSettings.DisplayUserOrdersFooterItem"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <tvprog-override-store-checkbox asp-for="DisplayDefaultFooterItemSettings.DisplayUserAddressesFooterItem_OverrideForStore" asp-input="DisplayDefaultFooterItemSettings.DisplayUserAddressesFooterItem" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <tvprog-label asp-for="DisplayDefaultFooterItemSettings.DisplayUserAddressesFooterItem" />
        </div>
        <div class="col-md-9">
            <tvprog-editor asp-for="DisplayDefaultFooterItemSettings.DisplayUserAddressesFooterItem" />
            <span asp-validation-for="DisplayDefaultFooterItemSettings.DisplayUserAddressesFooterItem"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <tvprog-override-store-checkbox asp-for="DisplayDefaultFooterItemSettings.DisplayShoppingCartFooterItem_OverrideForStore" asp-input="DisplayDefaultFooterItemSettings.DisplayShoppingCartFooterItem" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <tvprog-label asp-for="DisplayDefaultFooterItemSettings.DisplayShoppingCartFooterItem" />
        </div>
        <div class="col-md-9">
            <tvprog-editor asp-for="DisplayDefaultFooterItemSettings.DisplayShoppingCartFooterItem" />
            <span asp-validation-for="DisplayDefaultFooterItemSettings.DisplayShoppingCartFooterItem"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <tvprog-override-store-checkbox asp-for="DisplayDefaultFooterItemSettings.DisplayWishlistFooterItem_OverrideForStore" asp-input="DisplayDefaultFooterItemSettings.DisplayWishlistFooterItem" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <tvprog-label asp-for="DisplayDefaultFooterItemSettings.DisplayWishlistFooterItem" />
        </div>
        <div class="col-md-9">
            <tvprog-editor asp-for="DisplayDefaultFooterItemSettings.DisplayWishlistFooterItem" />
            <span asp-validation-for="DisplayDefaultFooterItemSettings.DisplayWishlistFooterItem"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <tvprog-override-store-checkbox asp-for="DisplayDefaultFooterItemSettings.DisplayApplyVendorAccountFooterItem_OverrideForStore" asp-input="DisplayDefaultFooterItemSettings.DisplayApplyVendorAccountFooterItem" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <tvprog-label asp-for="DisplayDefaultFooterItemSettings.DisplayApplyVendorAccountFooterItem" />
        </div>
        <div class="col-md-9">
            <tvprog-editor asp-for="DisplayDefaultFooterItemSettings.DisplayApplyVendorAccountFooterItem" />
            <span asp-validation-for="DisplayDefaultFooterItemSettings.DisplayApplyVendorAccountFooterItem"></span>
        </div>
    </div>
</div>