@model GeneralCommonSettingsModel

<div class="card-body">
    <div class="form-group row">
        <div class="col-md-3">
            <tvprog-override-store-checkbox asp-for="DisplayDefaultMenuItemSettings.DisplayHomepageMenuItem_OverrideForStore" asp-input="DisplayDefaultMenuItemSettings.DisplayHomepageMenuItem" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <tvprog-label asp-for="DisplayDefaultMenuItemSettings.DisplayHomepageMenuItem" />
        </div>
        <div class="col-md-9">
            <tvprog-editor asp-for="DisplayDefaultMenuItemSettings.DisplayHomepageMenuItem" />
            <span asp-validation-for="DisplayDefaultMenuItemSettings.DisplayHomepageMenuItem"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <tvprog-override-store-checkbox asp-for="DisplayDefaultMenuItemSettings.DisplayNewTvChannelsMenuItem_OverrideForStore" asp-input="DisplayDefaultMenuItemSettings.DisplayNewTvChannelsMenuItem" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <tvprog-label asp-for="DisplayDefaultMenuItemSettings.DisplayNewTvChannelsMenuItem" />
        </div>
        <div class="col-md-9">
            <tvprog-editor asp-for="DisplayDefaultMenuItemSettings.DisplayNewTvChannelsMenuItem" />
            <span asp-validation-for="DisplayDefaultMenuItemSettings.DisplayNewTvChannelsMenuItem"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <tvprog-override-store-checkbox asp-for="DisplayDefaultMenuItemSettings.DisplayTvChannelSearchMenuItem_OverrideForStore" asp-input="DisplayDefaultMenuItemSettings.DisplayTvChannelSearchMenuItem" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <tvprog-label asp-for="DisplayDefaultMenuItemSettings.DisplayTvChannelSearchMenuItem" />
        </div>
        <div class="col-md-9">
            <tvprog-editor asp-for="DisplayDefaultMenuItemSettings.DisplayTvChannelSearchMenuItem" />
            <span asp-validation-for="DisplayDefaultMenuItemSettings.DisplayTvChannelSearchMenuItem"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <tvprog-override-store-checkbox asp-for="DisplayDefaultMenuItemSettings.DisplayUserInfoMenuItem_OverrideForStore" asp-input="DisplayDefaultMenuItemSettings.DisplayUserInfoMenuItem" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <tvprog-label asp-for="DisplayDefaultMenuItemSettings.DisplayUserInfoMenuItem" />
        </div>
        <div class="col-md-9">
            <tvprog-editor asp-for="DisplayDefaultMenuItemSettings.DisplayUserInfoMenuItem" />
            <span asp-validation-for="DisplayDefaultMenuItemSettings.DisplayUserInfoMenuItem"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <tvprog-override-store-checkbox asp-for="DisplayDefaultMenuItemSettings.DisplayBlogMenuItem_OverrideForStore" asp-input="DisplayDefaultMenuItemSettings.DisplayBlogMenuItem" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <tvprog-label asp-for="DisplayDefaultMenuItemSettings.DisplayBlogMenuItem" />
        </div>
        <div class="col-md-9">
            <tvprog-editor asp-for="DisplayDefaultMenuItemSettings.DisplayBlogMenuItem" />
            <span asp-validation-for="DisplayDefaultMenuItemSettings.DisplayBlogMenuItem"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <tvprog-override-store-checkbox asp-for="DisplayDefaultMenuItemSettings.DisplayForumsMenuItem_OverrideForStore" asp-input="DisplayDefaultMenuItemSettings.DisplayForumsMenuItem" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <tvprog-label asp-for="DisplayDefaultMenuItemSettings.DisplayForumsMenuItem" />
        </div>
        <div class="col-md-9">
            <tvprog-editor asp-for="DisplayDefaultMenuItemSettings.DisplayForumsMenuItem" />
            <span asp-validation-for="DisplayDefaultMenuItemSettings.DisplayForumsMenuItem"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <tvprog-override-store-checkbox asp-for="DisplayDefaultMenuItemSettings.DisplayContactUsMenuItem_OverrideForStore" asp-input="DisplayDefaultMenuItemSettings.DisplayContactUsMenuItem" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <tvprog-label asp-for="DisplayDefaultMenuItemSettings.DisplayContactUsMenuItem" />
        </div>
        <div class="col-md-9">
            <tvprog-editor asp-for="DisplayDefaultMenuItemSettings.DisplayContactUsMenuItem" />
            <span asp-validation-for="DisplayDefaultMenuItemSettings.DisplayContactUsMenuItem"></span>
        </div>
    </div>
</div>