@model OrderSettingsModel

<div class="card-body">
    @if (Model.OrderIdent.HasValue)
    {
        <div class="form-group row">
            <div class="col-md-3">
                <tvprog-label asp-for="OrderIdent" />
            </div>
            <div class="col-md-9">
                <tvprog-editor asp-for="OrderIdent" />
            </div>
        </div>
    }
    <div class="form-group row">
        <div class="col-md-3">
            <tvprog-override-store-checkbox asp-for="CustomOrderNumberMask_OverrideForStore" asp-input="CustomOrderNumberMask" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <tvprog-label asp-for="CustomOrderNumberMask" />
        </div>
        <div class="col-md-9">
            <tvprog-editor asp-for="CustomOrderNumberMask" />
            <span asp-validation-for="CustomOrderNumberMask"></span>
            <ul class="common-list">
                <li>
                    @T("Admin.Configuration.Settings.Order.CustomOrderNumberMask.Description.YYYY")
                </li>
                <li>
                    @T("Admin.Configuration.Settings.Order.CustomOrderNumberMask.Description.YY")
                </li>
                <li>
                    @T("Admin.Configuration.Settings.Order.CustomOrderNumberMask.Description.MM")
                </li>
                <li>
                    @T("Admin.Configuration.Settings.Order.CustomOrderNumberMask.Description.DD")
                </li>
                <li>
                    @T("Admin.Configuration.Settings.Order.CustomOrderNumberMask.Description.ID")
                </li>
            </ul>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <tvprog-override-store-checkbox asp-for="IsReOrderAllowed_OverrideForStore" asp-input="IsReOrderAllowed" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <tvprog-label asp-for="IsReOrderAllowed" />
        </div>
        <div class="col-md-9">
            <tvprog-editor asp-for="IsReOrderAllowed" />
            <span asp-validation-for="IsReOrderAllowed"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <tvprog-label asp-for="CompleteOrderWhenDelivered" />
        </div>
        <div class="col-md-9">
            <tvprog-editor asp-for="CompleteOrderWhenDelivered" />
            <span asp-validation-for="CompleteOrderWhenDelivered"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <tvprog-override-store-checkbox asp-for="ExportWithTvChannels_OverrideForStore" asp-input="ExportWithTvChannels" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <tvprog-label asp-for="ExportWithTvChannels" />
        </div>
        <div class="col-md-9">
            <tvprog-editor asp-for="ExportWithTvChannels" />
            <span asp-validation-for="ExportWithTvChannels"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <tvprog-override-store-checkbox asp-for="AllowAdminsToBuyCallForPriceTvChannels_OverrideForStore" asp-input="AllowAdminsToBuyCallForPriceTvChannels" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <tvprog-label asp-for="AllowAdminsToBuyCallForPriceTvChannels" />
        </div>
        <div class="col-md-9">
            <tvprog-editor asp-for="AllowAdminsToBuyCallForPriceTvChannels" />
            <span asp-validation-for="AllowAdminsToBuyCallForPriceTvChannels"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <tvprog-override-store-checkbox asp-for="ShowTvChannelThumbnailInOrderDetailsPage_OverrideForStore" asp-input="ShowTvChannelThumbnailInOrderDetailsPage" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <tvprog-label asp-for="ShowTvChannelThumbnailInOrderDetailsPage" />
        </div>
        <div class="col-md-9">
            <tvprog-editor asp-for="ShowTvChannelThumbnailInOrderDetailsPage" />
            <span asp-validation-for="ShowTvChannelThumbnailInOrderDetailsPage"></span>
        </div>
    </div>
</div>