@model TaxSettingsModel

<div class="card-body">
    <div class="form-group row">
        <div class="col-md-3">
            <tvprog-override-store-checkbox asp-for="AllowUsersToSelectTaxDisplayType_OverrideForStore" asp-input="AllowUsersToSelectTaxDisplayType" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <tvprog-label asp-for="AllowUsersToSelectTaxDisplayType" />
        </div>
        <div class="col-md-9">
            <tvprog-editor asp-for="AllowUsersToSelectTaxDisplayType" />
            <span asp-validation-for="AllowUsersToSelectTaxDisplayType"></span>
        </div>
    </div>
    <div class="form-group row" id="pnlTaxDisplayType">
        <div class="col-md-3">
            <tvprog-override-store-checkbox asp-for="TaxDisplayType_OverrideForStore" asp-input="TaxDisplayType" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <tvprog-label asp-for="TaxDisplayType" />
        </div>
        <div class="col-md-9">
            <tvprog-select asp-for="TaxDisplayType" asp-items="Model.TaxDisplayTypeValues" />
            <span asp-validation-for="TaxDisplayType"></span>
        </div>
    </div>
    <div class="form-group row advanced-setting">
        <div class="col-md-3">
            <tvprog-override-store-checkbox asp-for="DisplayTaxSuffix_OverrideForStore" asp-input="DisplayTaxSuffix" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <tvprog-label asp-for="DisplayTaxSuffix" />
        </div>
        <div class="col-md-9">
            <tvprog-editor asp-for="DisplayTaxSuffix" />
            <span asp-validation-for="DisplayTaxSuffix"></span>
        </div>
    </div>
    <div class="form-group row advanced-setting">
        <div class="col-md-3">
            <tvprog-override-store-checkbox asp-for="DisplayTaxRates_OverrideForStore" asp-input="DisplayTaxRates" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <tvprog-label asp-for="DisplayTaxRates" />
        </div>
        <div class="col-md-9">
            <tvprog-editor asp-for="DisplayTaxRates" />
            <span asp-validation-for="DisplayTaxRates"></span>
        </div>
    </div>
    <div class="form-group row advanced-setting">
        <div class="col-md-3">
            <tvprog-override-store-checkbox asp-for="HideZeroTax_OverrideForStore" asp-input="HideZeroTax" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <tvprog-label asp-for="HideZeroTax" />
        </div>
        <div class="col-md-9">
            <tvprog-editor asp-for="HideZeroTax" />
            <span asp-validation-for="HideZeroTax"></span>
        </div>
    </div>
    <div class="form-group row advanced-setting">
        <div class="col-md-3">
            <tvprog-override-store-checkbox asp-for="HideTaxInOrderSummary_OverrideForStore" asp-input="HideTaxInOrderSummary" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <tvprog-label asp-for="HideTaxInOrderSummary" />
        </div>
        <div class="col-md-9">
            <tvprog-editor asp-for="HideTaxInOrderSummary" />
            <span asp-validation-for="HideTaxInOrderSummary"></span>
        </div>
    </div>
    <div class="form-group row advanced-setting">
        <div class="col-md-3">
            <tvprog-override-store-checkbox asp-for="ForceTaxExclusionFromOrderSubtotal_OverrideForStore" asp-input="ForceTaxExclusionFromOrderSubtotal" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <tvprog-label asp-for="ForceTaxExclusionFromOrderSubtotal" />
        </div>
        <div class="col-md-9">
            <tvprog-editor asp-for="ForceTaxExclusionFromOrderSubtotal" />
            <span asp-validation-for="ForceTaxExclusionFromOrderSubtotal"></span>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#@Html.IdFor(model => model.AllowUsersToSelectTaxDisplayType)").click(toggleTaxDisplayType);
        toggleTaxDisplayType();
    });

    function toggleTaxDisplayType() {
        if ($('#@Html.IdFor(model => model.AllowUsersToSelectTaxDisplayType)').is(':checked')) {
            $('#pnlTaxDisplayType').hideElement();
        } else {
            $('#pnlTaxDisplayType').showElement();
        }
    }
</script>