@model VendorSettingsModel

<div class="card-body">
    <div class="form-group row">
        <div class="col-md-3">
            <tvprog-override-store-checkbox asp-for="AllowUsersToApplyForVendorAccount_OverrideForStore" asp-input="AllowUsersToApplyForVendorAccount" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <tvprog-label asp-for="AllowUsersToApplyForVendorAccount" />
        </div>
        <div class="col-md-9">
            <tvprog-editor asp-for="AllowUsersToApplyForVendorAccount" />
            <span asp-validation-for="AllowUsersToApplyForVendorAccount"></span>
        </div>
    </div>
    <tvprog-nested-setting asp-for="AllowUsersToApplyForVendorAccount">
        <div class="form-group row">
            <div class="col-md-3">
                <tvprog-override-store-checkbox asp-for="TermsOfServiceEnabled_OverrideForStore" asp-input="TermsOfServiceEnabled" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                <tvprog-label asp-for="TermsOfServiceEnabled" />
            </div>
            <div class="col-md-9">
                <tvprog-editor asp-for="TermsOfServiceEnabled" />
                <span asp-validation-for="TermsOfServiceEnabled"></span>
            </div>
        </div>
    </tvprog-nested-setting>
    <div class="form-group row advanced-setting">
        <div class="col-md-3">
            <tvprog-override-store-checkbox asp-for="AllowVendorsToEditInfo_OverrideForStore" asp-input="AllowVendorsToEditInfo" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <tvprog-label asp-for="AllowVendorsToEditInfo" />
        </div>
        <div class="col-md-9">
            <tvprog-editor asp-for="AllowVendorsToEditInfo" />
            <span asp-validation-for="AllowVendorsToEditInfo"></span>
        </div>
    </div>
    <tvprog-nested-setting asp-for="AllowVendorsToEditInfo">
        <div class="form-group row advanced-setting">
            <div class="col-md-3">
                <tvprog-override-store-checkbox asp-for="NotifyStoreOwnerAboutVendorInformationChange_OverrideForStore" asp-input="NotifyStoreOwnerAboutVendorInformationChange" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                <tvprog-label asp-for="NotifyStoreOwnerAboutVendorInformationChange" />
            </div>
            <div class="col-md-9">
                <tvprog-editor asp-for="NotifyStoreOwnerAboutVendorInformationChange" />
                <span asp-validation-for="NotifyStoreOwnerAboutVendorInformationChange"></span>
            </div>
        </div>
    </tvprog-nested-setting>
    <div class="form-group row advanced-setting">
        <div class="col-md-3">
            <tvprog-override-store-checkbox asp-for="MaximumTvChannelNumber_OverrideForStore" asp-input="MaximumTvChannelNumber" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <tvprog-label asp-for="MaximumTvChannelNumber" />
        </div>
        <div class="col-md-9">
            <tvprog-editor asp-for="MaximumTvChannelNumber" />
            <span asp-validation-for="MaximumTvChannelNumber"></span>
        </div>
    </div>
    <div class="form-group row advanced-setting">
        <div class="col-md-3">
            <tvprog-override-store-checkbox asp-for="AllowVendorsToImportTvChannels_OverrideForStore" asp-input="AllowVendorsToImportTvChannels" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <tvprog-label asp-for="AllowVendorsToImportTvChannels" />
        </div>
        <div class="col-md-9">
            <tvprog-editor asp-for="AllowVendorsToImportTvChannels" />
            <span asp-validation-for="AllowVendorsToImportTvChannels"></span>
        </div>
    </div>
</div>
