@model RecurringPaymentModel

@{
    const string hideInfoBlockAttributeName = "RecurringPaymentPage.HideInfoBlock";
    var hideInfoBlock = await genericAttributeService.GetAttributeAsync<bool>(await workContext.GetCurrentUserAsync(), hideInfoBlockAttributeName);

    const string hideHistoryBlockAttributeName = "RecurringPaymentPage.HideHistoryBlock";
    var hideHistoryBlock = await genericAttributeService.GetAttributeAsync<bool>(await workContext.GetCurrentUserAsync(), hideHistoryBlockAttributeName, defaultValue: true);
}

<div asp-validation-summary="All"></div>
<input asp-for="Id" type="hidden" />

<section class="content">
    <div class="container-fluid">
        <div class="form-horizontal">
            <tvprog-cards id="recurringpayment-edit">
                <tvprog-card asp-name="recurringpayment-info" asp-icon="fa fa-info" asp-title="@T("Admin.RecurringPayments.Info")" asp-hide-block-attribute-name="@hideInfoBlockAttributeName" asp-hide="@hideInfoBlock">@await Html.PartialAsync("_CreateOrUpdate.Info", Model)</tvprog-card>
                <tvprog-card asp-name="recurringpayment-history" asp-icon="fa fa-history" asp-title="@T("Admin.RecurringPayments.History")" asp-hide-block-attribute-name="@hideHistoryBlockAttributeName" asp-hide="@hideHistoryBlock">@await Html.PartialAsync("_CreateOrUpdate.History", Model)</tvprog-card>

                @await Component.InvokeAsync("AdminWidget", new { widgetZone = AdminWidgetZones.ReccuringPaymentDetailBlock, additionalData = Model })
            </tvprog-cards>
        </div>
    </div>
</section>