@model TvChannelAttributeModel

@if (Model.Id > 0)
{
    <div class="card-body">
        <p>
            @T("Admin.Catalog.Attributes.TvChannelAttributes.PredefinedValues.Hint")
        </p>
        @await Html.PartialAsync("Table", new DataTablesModel
        {
            Name = "tvchannelattributevalues-grid",
            UrlRead = new DataUrl("PredefinedTvChannelAttributeValueList", "TvChannelAttribute", new RouteValueDictionary { [nameof(Model.PredefinedTvChannelAttributeValueSearchModel.TvChannelAttributeId)] = Model.PredefinedTvChannelAttributeValueSearchModel.TvChannelAttributeId }),
            UrlDelete = new DataUrl("PredefinedTvChannelAttributeValueDelete", "TvChannelAttribute", null),
            Length = Model.PredefinedTvChannelAttributeValueSearchModel.PageSize,
            LengthMenu = Model.PredefinedTvChannelAttributeValueSearchModel.AvailablePageSizes,
            ColumnCollection = new List<ColumnProperty>
            {
                new ColumnProperty(nameof(PredefinedTvChannelAttributeValueModel.Name))
                {
                    Title = T("Admin.Catalog.Attributes.TvChannelAttributes.PredefinedValues.Fields.Name").Text,
                    Width = "200"
                },
                new ColumnProperty(nameof(PredefinedTvChannelAttributeValueModel.PriceAdjustmentStr))
                {
                    Title = T("Admin.Catalog.Attributes.TvChannelAttributes.PredefinedValues.Fields.PriceAdjustment").Text,
                    Width = "150"
                },
                new ColumnProperty(nameof(PredefinedTvChannelAttributeValueModel.WeightAdjustmentStr))
                {
                    Title = T("Admin.Catalog.Attributes.TvChannelAttributes.PredefinedValues.Fields.WeightAdjustment").Text,
                    Width = "150"
                },
                new ColumnProperty(nameof(PredefinedTvChannelAttributeValueModel.IsPreSelected))
                {
                    Title = T("Admin.Catalog.Attributes.TvChannelAttributes.PredefinedValues.Fields.IsPreSelected").Text,
                    Width = "100",
                    ClassName = TvProgColumnClassDefaults.CenterAll,
                    Render = new RenderBoolean()
                },
                new ColumnProperty(nameof(PredefinedTvChannelAttributeValueModel.DisplayOrder))
                {
                    Title = T("Admin.Catalog.Attributes.TvChannelAttributes.PredefinedValues.Fields.DisplayOrder").Text,
                    Width = "100",
                    ClassName = TvProgColumnClassDefaults.CenterAll
                },
                new ColumnProperty(nameof(PredefinedTvChannelAttributeValueModel.Id))
                {
                    Title = T("Admin.Common.Edit").Text,
                    Width = "100",
                    ClassName =  TvProgColumnClassDefaults.Button,
                    Render = new RenderCustom("renderColumnEdit")
                },
                new ColumnProperty(nameof(PredefinedTvChannelAttributeValueModel.Id))
                {
                    Title = T("Admin.Common.Delete").Text,
                    Width = "100",
                    Render = new RenderButtonRemove(T("Admin.Common.Delete").Text),
                    ClassName =  TvProgColumnClassDefaults.Button
                }
            }
        })
    
        <script>
            function renderColumnEdit(data, type, row, meta) {
                return '<button onclick=\"javascript:OpenWindow(\'@Url.Content("~/Admin/TvChannelAttribute/PredefinedTvChannelAttributeValueEditPopup/")' + data + '?btnId=btnRefresh&formId=tvchannelattribute-form\', 800, 750, true); return false;\" class="btn btn-default"><i class="fas fa-pencil-alt"></i>@T("Admin.Common.Edit").Text</button>';
            }
        </script>
    </div>
    <div class="card-footer">
        <button type="submit" id="btnAddNewValue" onclick="javascript:OpenWindow('@(Url.Action("PredefinedTvChannelAttributeValueCreatePopup", "TvChannelAttribute", new { tvChannelAttributeId = Model.Id, btnId = "btnRefresh", formId = "tvchannelattribute-form" }))', 800, 550, true); return false;" class="btn btn-primary">
            @T("Admin.Catalog.Attributes.TvChannelAttributes.PredefinedValues.AddNew")
        </button>
        <button type="submit" id="btnRefresh" style="display: none"></button>
        <script>
            $(document).ready(function () {
                $('#btnRefresh').click(function () {
                    //refresh grid
                    updateTable('#tvchannelattributevalues-grid');

                    //return false to don't reload a page
                    return false;
                });
            });
        </script>
    </div>
}
else
{
    <div class="card-body">
        @T("Admin.Catalog.Attributes.TvChannelAttributes.PredefinedValues.SaveBeforeEdit")
    </div>
}
