@model TvChannelAttributeModel

@{
    //page title
    ViewBag.PageTitle = T("Admin.Catalog.Attributes.TvChannelAttributes.EditAttributeDetails").Text;
    //active menu item (system name)
    TvProgHtml.SetActiveMenuItemSystemName("TvChannel attributes");
}

<form asp-controller="TvChannelAttribute" asp-action="Edit" method="post" id="tvchannelattribute-form">
    <div class="content-header clearfix">
        <h1 class="float-left">
            @T("Admin.Catalog.Attributes.TvChannelAttributes.EditAttributeDetails") - @Model.Name
            <small>
                <i class="fas fa-arrow-circle-left"></i>
                <a asp-action="List">@T("Admin.Catalog.Attributes.TvChannelAttributes.BackToList")</a>
            </small>
        </h1>
        <div class="float-right">
            <button type="submit" name="save" class="btn btn-primary">
                <i class="far fa-save"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn btn-primary">
                <i class="far fa-save"></i>
                @T("Admin.Common.SaveContinue")
            </button>
            <span id="tvchannelattribute-delete" class="btn btn-danger">
                <i class="far fa-trash-alt"></i>
                @T("Admin.Common.Delete")
            </span>
            @await Component.InvokeAsync(typeof(AdminWidgetViewComponent), new { widgetZone = AdminWidgetZones.TvChannelAttributeDetailsButtons, additionalData = Model })
        </div>
    </div>
    @await Html.PartialAsync("_CreateOrUpdate", Model)
</form>
<tvprog-delete-confirmation asp-model-id="@Model.Id" asp-button-id="tvchannelattribute-delete" />