@model ProductAttributeMappingModel

@{
    const string hideInfoBlockAttributeName = "ProductAttributeMappingPage.HideCommonBlock";
    var user = await workContext.GetCurrentUserAsync();
    var hideInfoBlock = await genericAttributeService.GetAttributeAsync<bool>(user, hideInfoBlockAttributeName);

    const string hideValuesBlockAttributeName = "ProductAttributeMappingPage.HideValuesBlock";
    var hideValuesBlock = await genericAttributeService.GetAttributeAsync<bool>(user, hideValuesBlockAttributeName);

    const string hideConditionBlockAttributeName = "ProductAttributeMappingPage.HideConditionBlock";
    var hideConditionBlock = await genericAttributeService.GetAttributeAsync<bool>(user, hideConditionBlockAttributeName);
}

<div asp-validation-summary="All"></div>
<input asp-for="Id" type="hidden" />

 <section class="content">
     <div class="container-fluid">
        <div class="form-horizontal">
        
            <tvprog-cards id="product-attribute-mapping-cards">
                <tvprog-card asp-name="product-attribute-mapping-info" asp-icon="fas fa-info" asp-title="@T("Admin.Catalog.Products.ProductAttributes.Attributes.Info")" asp-hide-block-attribute-name="@hideInfoBlockAttributeName" asp-hide="@hideInfoBlock" asp-advanced="false">@await Html.PartialAsync("_CreateOrUpdateProductAttributeMapping.Info", Model)</tvprog-card>
                <tvprog-card asp-name="product-attribute-mapping-values" asp-icon="fas fa-check-square" asp-title="@T("Admin.Catalog.Products.ProductAttributes.Attributes.Values")" asp-hide-block-attribute-name="@hideValuesBlockAttributeName" asp-hide="@hideValuesBlock" asp-advanced="false">@await Html.PartialAsync("_CreateOrUpdateProductAttributeMapping.Values", Model)</tvprog-card>

                @if (Model.ConditionAllowed)
                {
                    <tvprog-card asp-name="product-attribute-mapping-condition" asp-icon="fas fa-arrow-right" asp-title="@T("Admin.Catalog.Products.ProductAttributes.Attributes.Condition")" asp-hide-block-attribute-name="@hideConditionBlockAttributeName" asp-hide="@hideConditionBlock" asp-advanced="false">@await Html.PartialAsync("_CreateOrUpdateProductAttributeMapping.Condition", Model)</tvprog-card>
                }

                @await Component.InvokeAsync(typeof(AdminWidgetViewComponent), new { widgetZone = AdminWidgetZones.ProductAttributeMappingDetailsBlock, additionalData = Model })
            </tvprog-cards>
        </div>
    </div>
</section>