@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
    <ul class="nav navbar-nav navbar-right" style="width:auto">
      <li>
           @Html.ActionLink("Телеканалы", "Index", "Channel", routeValues: null, htmlAttributes: new { id = "channelLink" })
      </li>
      <li>
          @Html.ActionLink("Жанры", "Index", "Genre", routeValues: null, htmlAttributes: new { id = "genreLink" })
      </li>
	  <li>
	      @Html.ActionLink("Рейтинги", "Index", "Rating", routeValues: null, htmlAttributes: new { id = "ratingLink" })
	  </li>
      <li>
          @Html.ActionLink("Телепередачи", "List", "Programme", routeValues: null, htmlAttributes: new { id = "programmesLink" })
      </li>
        
      <li>
          @Html.ActionLink("Здравствуйте, " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
      </li>
      <li><a href="javascript:document.getElementById('logoutForm').submit()">Выход</a></li>
    </ul>

    }
}
else
{
        <ul class="nav navbar-nav navbar-right">
            <li>@Html.ActionLink("Вход", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
            <li>@Html.ActionLink("Зарегистрироваться", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        </ul>
    }
}