@model VendorAttributeModel

@{
    const string hideInfoBlockAttributeName = "VendorAttributePage.HideInfoBlock";
    var user = await workContext.GetCurrentUserAsync();
    var hideInfoBlock = await genericAttributeService.GetAttributeAsync<bool>(user, hideInfoBlockAttributeName);

    const string hideValuesBlockAttributeName = "VendorAttributePage.HideValuesBlock";
    var hideValuesBlock = await genericAttributeService.GetAttributeAsync<bool>(user, hideValuesBlockAttributeName, defaultValue: true);
}

<div asp-validation-summary="All"></div>
<input asp-for="Id" type="hidden" />

<section class="content">
    <div class="container-fluid">
        <div class="form-horizontal">
            <tvprog-cards id="vendorattribute-cards">
                <tvprog-card asp-name="vendorattribute-info" asp-icon="fas fa-info" asp-title="@T("Admin.Vendors.VendorAttributes.Info")" asp-hide-block-attribute-name="@hideInfoBlockAttributeName" asp-hide="@hideInfoBlock" asp-advanced="false">@await Html.PartialAsync("_CreateOrUpdate.Info", Model)</tvprog-card>
                <tvprog-card asp-name="vendorattribute-values" asp-icon="fas fa-check-square" asp-title="@T("Admin.Vendors.VendorAttributes.Values")" asp-hide-block-attribute-name="@hideValuesBlockAttributeName" asp-hide="@hideValuesBlock" asp-advanced="false">@await Html.PartialAsync("_CreateOrUpdate.Values", Model)</tvprog-card>

                @await Component.InvokeAsync(typeof(AdminWidgetViewComponent), new { widgetZone = AdminWidgetZones.AdminVendorAttributeDetailsBlock, additionalData = Model })
            </tvprog-cards>
        </div>
    </div>
</section>