@using Microsoft.AspNetCore.Http.Extensions;
@using TvProgViewer.Core.Configuration
@using TvProgViewer.Core.Domain.Catalog
@using TvProgViewer.Core.Domain.Common
@using TvProgViewer.Core.Domain.Seo
@using TvProgViewer.Services.Security
@using TvProgViewer.Core.Events

@inject CatalogSettings catalogSettings
@inject CommonSettings commonSettings
@inject IEventPublisher eventPublisher
@inject IPermissionService permissionService
@inject SeoSettings seoSettings
@inject AppSettings appSettings

@{
    if (catalogSettings.DisplayAllPicturesOnCatalogPages)
    {
        TvProgHtml.AppendScriptParts(ResourceLocation.Footer, "~/lib_npm/swiper/swiper-bundle.min.js");
    }
    TvProgHtml.AppendCssFileParts("~/css/styles.css");
    TvProgHtml.AppendCssFileParts("~/lib_npm/bootstrap/css/bootstrap.min.css");
    TvProgHtml.AppendCssFileParts("~/css/jsTree/themes/default/style.css");
    TvProgHtml.AppendScriptParts(ResourceLocation.Head, "~/lib_npm/jquery/jquery.min.js");
    TvProgHtml.AppendScriptParts(ResourceLocation.Footer, "~/js/public.countryselect.js");
    TvProgHtml.AppendScriptParts(ResourceLocation.Footer, "~/js/public.ajaxcart.js");
    TvProgHtml.AppendScriptParts(ResourceLocation.Footer, "~/js/public.common.js");
    //when jQuery migrate script logging is active you will see the log in the browser console
    if (commonSettings.JqueryMigrateScriptLoggingActive)
    {
        TvProgHtml.AppendScriptParts(ResourceLocation.Footer, "~/lib_npm/jquery-migrate/jquery-migrate.js");
    }
    else
    {
        TvProgHtml.AppendScriptParts(ResourceLocation.Footer, "~/lib_npm/jquery-migrate/jquery-migrate.min.js");
    }
    TvProgHtml.AppendScriptParts(ResourceLocation.Footer, "~/lib_npm/jquery-ui-dist/jquery-ui.min.js");
    TvProgHtml.AppendScriptParts(ResourceLocation.Footer, "~/lib_npm/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js");
    TvProgHtml.AppendScriptParts(ResourceLocation.Footer, "~/lib_npm/jquery-validation/jquery.validate.min.js");
    TvProgHtml.AppendScriptParts(ResourceLocation.Footer, "~/lib_npm/bootstrap/js/bootstrap.min.js");
    
    //custom tag(s);
    if (!string.IsNullOrEmpty(seoSettings.CustomHeadTags))
    {
        TvProgHtml.AppendHeadCustomParts(seoSettings.CustomHeadTags);
    }

    var displayMiniProfiler = appSettings.Get<CommonConfig>().MiniProfilerEnabled && await permissionService.AuthorizeAsync(StandardPermissionProvider.AccessProfiling);

    //event
    await eventPublisher.PublishAsync(new PageRenderingEvent(TvProgHtml));

    var title = await TvProgHtml.GenerateTitleAsync();
    var description = await @TvProgHtml.GenerateMetaDescriptionAsync();
    var keywords = await TvProgHtml.GenerateMetaKeywordsAsync();
}
<!DOCTYPE html>
<html lang="@CultureInfo.CurrentUICulture.TwoLetterISOLanguageName" dir="@Html.GetUIDirection(!await Html.ShouldUseRtlThemeAsync())" class="@TvProgHtml.GeneratePageCssClasses()">
<head>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (m, e, t, r, i, k, a) {
            m[i] = m[i] || function () { (m[i].a = m[i].a || []).push(arguments) };
            m[i].l = 1 * new Date(); k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
        })
            (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(54311379, "init", {
            clickmap: true,
            trackLinks: true,
            accurateTrackBounce: true,
            webvisor: true
        });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/54311379" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- Yandex.Metrika counter -->
    <!-- Yandex.RTB -->
    <script>window.yaContextCb = window.yaContextCb || []</script>
    <script src="https://yandex.ru/ads/system/context.js" async></script>
    <!-- Top.Mail.Ru counter -->
    <script type="text/javascript">
        var _tmr = window._tmr || (window._tmr = []);
        _tmr.push({ id: "3487003", type: "pageView", start: (new Date()).getTime() });
        (function (d, w, id) {
            if (d.getElementById(id)) return;
            var ts = d.createElement("script"); ts.type = "text/javascript"; ts.async = true; ts.id = id;
            ts.src = "https://top-fwz1.mail.ru/js/code.js";
            var f = function () { var s = d.getElementsByTagName("script")[0]; s.parentNode.insertBefore(ts, s); };
            if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); }
        })(document, window, "tmr-code");
    </script>
    <noscript><div><img src="https://top-fwz1.mail.ru/counter?id=3487003;js=na" style="position:absolute;left:-9999px;" alt="Top.Mail.Ru" /></div></noscript>
    <!-- /Top.Mail.Ru counter -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-142558739-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-142558739-2');
    </script>
    <title>@title</title>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
    <meta name="description" content="@description" />
    <meta name="keywords" content="@keywords" />
    <meta name="generator" content="TvProgViewer" />
    <meta name="viewport" content="width=device-width, initial-scale=1" /> 
    <meta name="yandex-verification" content="44a70f2cf486e2a5" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="image_src" type="image/png" href="https://tvprogviewer.ru/images/i/tvprogviewer_Vk.png" />
    <meta name="msapplication-TileColor" content="#603cba">
    <meta name="theme-color" content="#ffffff">
    <meta name="title" content="@title" />
    <!-- Open Graph Snippets -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:image" content="https://tvprogviewer.ru/images/i/TvProgViewer_X.png" />
    <meta name="twitter:url" content="@(ViewContext.HttpContext.Request.GetDisplayUrl())" />
    <meta name="twitter:title" content="@title" />
    <meta name="twitter:description" content="@description"/>
    <meta property="og:type" content="website">
    <meta property="og:title" content="@title">
    <meta property="og:description" content="@description">
    <meta property="og:url" content="@(ViewContext.HttpContext.Request.GetDisplayUrl())" />
    <meta property="vk:image" content="https://tvprogviewer.ru/images/i/TvProgViewer_Vk.png" />
    <meta property="og:image" content="https://tvprogviewer.ru/images/i/TvProgViewer_orig.png" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:site_name" content="TvProgViewer"/>
    <meta property="og:locale" content="ru_RU"/>
        
    @TvProgHtml.GenerateHeadCustom()
    @*This is used so that themes can inject content into the header*@
    @await Html.PartialAsync("Head")

    @TvProgHtml.GenerateCssFiles()

    @await Component.InvokeAsync(typeof(WidgetViewComponent), new { widgetZone = PublicWidgetZones.HeadHtmlTag })
    @TvProgHtml.GenerateCanonicalUrls()
    @await Component.InvokeAsync(typeof(NewsRssHeaderLinkViewComponent))
    @await Component.InvokeAsync(typeof(BlogRssHeaderLinkViewComponent))
    @*Insert favicon and app icons head code*@
    @await Component.InvokeAsync(typeof(FaviconViewComponent))
    @if (displayMiniProfiler)
    {
        <mini-profiler />
    }
    @TvProgHtml.GenerateScripts(ResourceLocation.Head)
    @TvProgHtml.GenerateInlineScripts(ResourceLocation.Head)
    <!--Powered by TvProgViewer - https://tvProgViewer.ru-->
    
    @Html.Raw(commonSettings.HeaderCustomHtml)
</head>
<body>
    <tvprog-antiforgery-token />
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        @await Component.InvokeAsync("Logo")
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="container">
            @await Component.InvokeAsync("HeaderLinks")
        </div>
    </nav>
    <div class="left-banner">
        <!-- Yandex.RTB R-A-5258749-2 -->
        <div id="yandex_rtb_R-A-5258749-2"></div>
        <script>
            window.yaContextCb.push(() => {
                Ya.Context.AdvManager.render({
                    "blockId": "R-A-5258749-2",
                    "renderTo": "yandex_rtb_R-A-5258749-2"
                });
            })
        </script>
    </div>
    @RenderBody()

    @TvProgHtml.GenerateScripts(ResourceLocation.Footer)
    @TvProgHtml.GenerateInlineScripts(ResourceLocation.Footer)
    
    @Html.Raw(commonSettings.FooterCustomHtml)
</body>
</html>
