@model CheckGiftCardBalanceModel

@using TvProgViewer.Core
@using TvProgViewer.Services.Users
@using TvProgViewer.Web.Framework.UI;
@inject IWorkContext workContext
@inject IUserService userService

@{
    var isRegisterUser = await userService.IsRegisteredAsync(await workContext.GetCurrentUserAsync());
    Layout = isRegisterUser ? "_ColumnsTwo" : "_ColumnsOne";

    //title
    TvProgHtml.AddTitleParts(T("PageTitle.CheckGiftCardBalance").Text);
    //page class
    TvProgHtml.AppendPageCssClassParts("html-account-page");
}

@if (isRegisterUser)
{
    @section left
    {
        @await Component.InvokeAsync(typeof(UserNavigationViewComponent), new { selectedTabId = UserNavigationEnum.CheckGiftCardBalance })
    }
}


<div class="page account-page check-gift-card-balance-page">
    <div class="page-title">
        @if (isRegisterUser)
        {
            <h1>@T("Account.MyAccount") - @T("PageTitle.CheckGiftCardBalance")</h1>
        }
        else
        {
            <h1>@T("PageTitle.CheckGiftCardBalance")</h1>
        }
    </div>
    <div class="page-body">
        @if (!string.IsNullOrEmpty(Model.Message))
        {
            <div class="message-error">
                @Model.Message
            </div>
        }
        @if (!string.IsNullOrEmpty(Model.Result))
        {
            <div class="result">
                @string.Format(T("ShoppingCart.Totals.GiftCardInfo.Remaining").Text, @Model.Result)
            </div>
        }
        <form asp-controller="User" asp-action="CheckGiftCardBalance" method="post">
            <div asp-validation-summary="ModelOnly" class="message-error"></div>
            <div class="fieldset">
                <div class="form-fields">
                    <div class="inputs">
                        <label asp-for="GiftCardCode" asp-postfix=":"></label>
                        <input asp-for="GiftCardCode" placeholder="@T("ShoppingCart.GiftCardCouponCode.Tooltip")" class="fullname" />
                        <tvprog-required />
                        <span asp-validation-for="GiftCardCode"></span>
                    </div>
                    <tvprog-captcha />
                </div>
            </div>
            <div class="buttons">
                <button type="submit" name="checkbalancegiftcard" id="checkbalancegiftcard" class="button-1 check-gift-card-balance-button">@T("CheckGiftCard.GiftCardCouponCode.Button")</button>
                <script asp-location="Footer">
                    $(document).ready(function () {
                        $('#giftcardcouponcode').keydown(function (event) {
                            if (event.keyCode == 13) {
                                $('#checkbalancegiftcard').click();
                                return false;
                            }
                        });
                    });
                </script>
            </div>
        </form>
    </div>
</div>