@model UserAttributeModel

@{
    const string hideInfoBlockAttributeName = "UserAttributePage.HideCommonBlock";
    var hideInfoBlock = genericAttributeService.GetAttribute<bool>(workContext.CurrentUser, hideInfoBlockAttributeName);

    const string hideValuesBlockAttributeName = "UserAttributePage.HideValuesBlock";
    var hideValuesBlock = genericAttributeService.GetAttribute<bool>(workContext.CurrentUser, hideValuesBlockAttributeName);
}

<div asp-validation-summary="All"></div>
<input asp-for="Id" type="hidden" />

<div class="content">
    <div class="form-horizontal">
        <tvprog-panels id="userattribute-panels">
            <tvprog-panel asp-name="userattribute-info" asp-icon="fa fa-info" asp-title="@T("Admin.Users.UserAttributes.Info")" asp-hide-block-attribute-name="@hideInfoBlockAttributeName" asp-hide="@hideInfoBlock" asp-advanced="false">@await Html.PartialAsync("_CreateOrUpdate.Info", Model)</tvprog-panel>
            <tvprog-panel asp-name="userattribute-values" asp-icon="fa fa-check-square-o" asp-title="@T("Admin.Users.UserAttributes.Values")" asp-hide-block-attribute-name="@hideValuesBlockAttributeName" asp-hide="@hideValuesBlock" asp-advanced="true">@await Html.PartialAsync("_CreateOrUpdate.Values", Model)</tvprog-panel>
            
            @await Component.InvokeAsync("AdminWidget", new { widgetZone = AdminWidgetZones.UserAttributeDetailsBlock, additionalData = Model })
        </tvprog-panels>
    </div>
</div>