@model UserReportsSearchModel

@{
    //page title
    ViewBag.PageTitle = T("Admin.Reports.Users.BestBy.BestByNumberOfOrders").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Users by number of orders");
}

@{
    const string hideSearchBlockAttributeName = "UsersBestByNumberOfOrdersPage.HideSearchBlock";
    var hideSearchBlock = genericAttributeService.GetAttribute<bool>(workContext.CurrentUser, hideSearchBlockAttributeName);
}

<div class="content-header clearfix">
    <h1 class="pull-left">
        @T("Admin.Reports.Users.BestBy.BestByNumberOfOrders")
    </h1>
</div>

<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default panel-search">
                <div class="panel-body">
                    <div class="row search-row @(!hideSearchBlock ? "opened" : "")" data-hideAttribute="@hideSearchBlockAttributeName">
                        <div class="search-text">@T("Admin.Common.Search")</div>
                        <div class="icon-search"><i class="fa fa-search" aria-hidden="true"></i></div>
                        <div class="icon-collapse"><i class="fa fa-angle-down" aria-hidden="true"></i></div>
                    </div>

                    <div class="search-body @(hideSearchBlock ? "closed" : "")">

                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <tvprog-label asp-for="BestUsersByNumberOfOrders.StartDate" />
                                    </div>
                                    <div class="col-md-8">
                                        <tvprog-editor asp-for="BestUsersByNumberOfOrders.StartDate" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <tvprog-label asp-for="BestUsersByNumberOfOrders.EndDate" />
                                    </div>
                                    <div class="col-md-8">
                                        <tvprog-editor asp-for="BestUsersByNumberOfOrders.EndDate" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <tvprog-label asp-for="BestUsersByNumberOfOrders.OrderStatusId" />
                                    </div>
                                    <div class="col-md-8">
                                        <tvprog-select asp-for="BestUsersByNumberOfOrders.OrderStatusId" asp-items="Model.BestUsersByNumberOfOrders.AvailableOrderStatuses" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <tvprog-label asp-for="BestUsersByNumberOfOrders.PaymentStatusId" />
                                    </div>
                                    <div class="col-md-8">
                                        <tvprog-select asp-for="BestUsersByNumberOfOrders.PaymentStatusId" asp-items="Model.BestUsersByNumberOfOrders.AvailablePaymentStatuses" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <tvprog-label asp-for="BestUsersByNumberOfOrders.ShippingStatusId" />
                                    </div>
                                    <div class="col-md-8">
                                        <tvprog-select asp-for="BestUsersByNumberOfOrders.ShippingStatusId" asp-items="Model.BestUsersByNumberOfOrders.AvailableShippingStatuses" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-7 col-md-offset-5">
                                <button type="button" id="search-best-users-numberoforders-grid" class="btn btn-primary btn-search">
                                    <i class="fa fa-line-chart"></i>
                                    @T("Admin.Reports.Users.RunReport")
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    @await Html.PartialAsync("Table", new DataTablesModel
                    {
                        Name = "best-users-numberoforders-grid",
                        UrlRead = new DataUrl("ReportBestUsersByNumberOfOrdersList", "Report", null),
                        SearchButtonId = "search-best-users-numberoforders-grid",
                        Length = Model.BestUsersByNumberOfOrders.PageSize,
                        LengthMenu = Model.BestUsersByNumberOfOrders.AvailablePageSizes,
                        Filters = new List<FilterParameter>
                        {
                            new FilterParameter(nameof(Model.BestUsersByNumberOfOrders.OrderBy), 2),
                            new FilterParameter(nameof(Model.BestUsersByNumberOfOrders.StartDate), nameof(UserReportsSearchModel.BestUsersByNumberOfOrders)),
                            new FilterParameter(nameof(Model.BestUsersByNumberOfOrders.EndDate), nameof(UserReportsSearchModel.BestUsersByNumberOfOrders)),
                            new FilterParameter(nameof(Model.BestUsersByNumberOfOrders.OrderStatusId), nameof(UserReportsSearchModel.BestUsersByNumberOfOrders)),
                            new FilterParameter(nameof(Model.BestUsersByNumberOfOrders.PaymentStatusId), nameof(UserReportsSearchModel.BestUsersByNumberOfOrders)),
                            new FilterParameter(nameof(Model.BestUsersByNumberOfOrders.ShippingStatusId), nameof(UserReportsSearchModel.BestUsersByNumberOfOrders))
                        },
                        ColumnCollection = new List<ColumnProperty>
                        {
                            new ColumnProperty(nameof(BestUsersReportModel.UserName))
                            {
                                Title = T("Admin.Reports.Users.BestBy.Fields.User").Text
                            },
                            new ColumnProperty(nameof(BestUsersReportModel.OrderTotal))
                            {
                                Title = T("Admin.Reports.Users.BestBy.Fields.OrderTotal").Text
                            },
                            new ColumnProperty(nameof(BestUsersReportModel.OrderCount))
                            {
                                Title = T("Admin.Reports.Users.BestBy.Fields.OrderCount").Text
                            },
                            new ColumnProperty(nameof(BestUsersReportModel.UserId))
                            {
                                Title = T("Admin.Common.View").Text,
                                Width = "100",
                                ClassName =  TvProgColumnClassDefaults.Button,
                                Render = new RenderButtonView(new DataUrl("~/Admin/User/Edit/"))
                            }
                        }
                    })
                </div>
            </div>
        </div>
    </div>
</div>