@model TvChannelReviewModel

@{
    //page title
    ViewBag.PageTitle = T("Admin.Catalog.TvChannelReviews.EditTvChannelReviewDetails").Text;
    //active menu item (system name)
    TvProgHtml.SetActiveMenuItemSystemName("TvChannel reviews");
}

<form asp-controller="TvChannelReview" asp-action="Edit" method="post">
    <div class="content-header clearfix">
        <h1 class="float-left">
            @T("Admin.Catalog.TvChannelReviews.EditTvChannelReviewDetails")
            <small>
                <i class="fas fa-arrow-circle-left"></i>
                <a asp-action="List">@T("Admin.Catalog.TvChannelReviews.BackToList")</a>
            </small>
        </h1>
        <div class="float-right">
            <button type="submit" name="save" class="btn btn-primary">
                <i class="far fa-save"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn btn-primary">
                <i class="far fa-save"></i>
                @T("Admin.Common.SaveContinue")
            </button>
            @if (!Model.IsLoggedInAsVendor)
            {
                //this button is not visible to vendors
                <span id="tvchannelreview-delete" class="btn bg-red">
                    <i class="far fa-trash-alt"></i>
                    @T("Admin.Common.Delete")
                </span>
            }
            @await Component.InvokeAsync(typeof(AdminWidgetViewComponent), new { widgetZone = AdminWidgetZones.TvChannelReviewDetailsButtons, additionalData = Model })
        </div>
    </div>
    @await Html.PartialAsync("_CreateOrUpdate", Model)
</form>
@if (!Model.IsLoggedInAsVendor)
{
    //this button is not visible to vendors
    <tvprog-delete-confirmation asp-model-id="@Model.Id" asp-button-id="tvchannelreview-delete" />
}
