@model TemplatesModel

@inject IEventPublisher eventPublisher

@{
    //page title
    ViewBag.PageTitle = T("Admin.System.Templates").Text;
    //active menu item (system name)
    TvProgHtml.SetActiveMenuItemSystemName("Templates");
}

@{
    const string hideCategoryBlockAttributeName = "Templates.HideCategoryBlock";
    var user = await workContext.GetCurrentUserAsync();
    var hideCategoryBlock = await genericAttributeService.GetAttributeAsync<bool>(user, hideCategoryBlockAttributeName);

    const string hideManufacturerBlockAttributeName = "Templates.HideManufacturerBlock";
    var hideManufacturerBlock = await genericAttributeService.GetAttributeAsync<bool>(user, hideManufacturerBlockAttributeName);

    const string hideTvChannelBlockAttributeName = "Templates.HideTvChannelBlock";
    var hideTvChannelBlock = await genericAttributeService.GetAttributeAsync<bool>(user, hideTvChannelBlockAttributeName);

    const string hideTopicBlockAttributeName = "Templates.HideTopicBlock";
    var hideTopicBlock = await genericAttributeService.GetAttributeAsync<bool>(user, hideTopicBlockAttributeName);
}

<section class="content">
    <div class="container-fluid">
        <div class="form-horizontal">
            <div class="row">
                <div class="content-header clearfix">
                    <h3 class="float-left">
                        @T("Admin.System.Templates")
                    </h3>
                </div>
            </div>

            <tvprog-doc-reference asp-string-resource="@T("Admin.Documentation.Reference.Templates", Docs.Templates + Utm.OnAdmin)" />

            <tvprog-cards id="templates-cards">
                <tvprog-card asp-name="templates-category" asp-icon="fas fa-sitemap" asp-title="@T("Admin.System.Templates.Category")" asp-hide-block-attribute-name="@hideCategoryBlockAttributeName" asp-hide="@hideCategoryBlock">@await Html.PartialAsync("_List.Category", Model)</tvprog-card>
                <tvprog-card asp-name="templates-manufacturer" asp-icon="fas fa-industry" asp-title="@T("Admin.System.Templates.Manufacturer")" asp-hide-block-attribute-name="@hideManufacturerBlockAttributeName" asp-hide="@hideManufacturerBlock">@await Html.PartialAsync("_List.Manufacturer", Model)</tvprog-card>
                <tvprog-card asp-name="templates-tvChannel" asp-icon="fas fa-cube" asp-title="@T("Admin.System.Templates.TvChannel")" asp-hide-block-attribute-name="@hideTvChannelBlockAttributeName" asp-hide="@hideTvChannelBlock">@await Html.PartialAsync("_List.TvChannel", Model)</tvprog-card>
                <tvprog-card asp-name="templates-topic" asp-icon="fas fa-book" asp-title="@T("Admin.System.Templates.Topic")" asp-hide-block-attribute-name="@hideTopicBlockAttributeName" asp-hide="@hideTopicBlock">@await Html.PartialAsync("_List.Topic", Model)</tvprog-card>

                @await Component.InvokeAsync(typeof(AdminWidgetViewComponent), new { widgetZone = AdminWidgetZones.TemplatesDetailsBlock, additionalData = Model })
            </tvprog-cards>
        </div>
    </div>
</section>